Definitivo-N8N-Criação de tasks do Wpp para o Bitrix 27-12-2025.json
{
  "name": "Criação de tasks do Wpp para o Bitrix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-mdrepres",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        -128
      ],
      "id": "bfadd0b7-99d9-4933-9917-ed5d73067a93",
      "name": "Webhook",
      "webhookId": "ee40db27-b328-4243-a1fa-fbcd7bec3655"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bbbfbea-9ee2-45c5-bcf0-5b08af961e18",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a00de284-45a2-40b1-8270-eb87b8bc9a33",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "0cd2a97a-52ad-443e-a4a0-0f6517632240",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "0e9ae63f-08d3-45ce-a5f1-534063f7cadb",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2d43a208-b2b5-4ac0-b96e-cc0beb88123f",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "95e069d5-95ea-4095-804d-384a2587962e",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "8ca51751-e655-410f-878a-883ee25e94a2",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -128
      ],
      "id": "d29b99ba-49c4-4128-87de-c5a352251015",
      "name": "Organização de dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30cc8816-2ffc-4a0a-aef8-e88a9065f19f",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8491029054",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f2fed79f-2903-47fe-8f07-e8e5afd9350f",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8494032113",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ba431024-f466-4486-ac69-e7a3b992c9e2",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8494818515",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1280,
        -128
      ],
      "id": "3eebfa6a-4ea1-496c-ac9d-ac82a89f97f8",
      "name": "Filtrar por números"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80dc8245-80d9-4fbd-9502-e5bb8fc2c890"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad80787e-a96b-4cd4-8eb9-d8ed96a8a28b",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f9ff31d-98b4-4925-ac6d-5892dd3d0a58",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aúdio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6ac0be1-1aa7-471d-bc32-1f4daaeaa8df",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9043ff0-af0a-4945-b675-1a805ee74c0e",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outros"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1056,
        -176
      ],
      "id": "51756d81-1b5c-4170-b610-bde2b73f29e5",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        -368
      ],
      "id": "59f23ef0-d08b-42ae-865c-999ed99d9596",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15e6f85d-1478-493e-aa15-123f741e45bd",
              "name": "url imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.url }}",
              "type": "string"
            },
            {
              "id": "a027e0c8-225e-4313-9669-d2db5fa35a50",
              "name": "legenda imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -320
      ],
      "id": "b4cd7770-7d60-4f00-8cf8-7e697744fd48",
      "name": "mensagem imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec288bbf-73fc-4a6e-a7f9-4deb7b12ed95",
              "name": "msg final",
              "value": "={{ $json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        -512
      ],
      "id": "771406e3-aafc-4128-a82a-b61458eaf50c",
      "name": "mensagem texto"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=Analise a imagem e dê detalhes do que tem nela. Se o usuário enviar uma foto de algum produto, tente verificar se possui o nome dele na imagem. Se o usuário enviar uma relação de nomes de produtos para orçamento, analise e descreva bem cada item por categoria.\n\nO usuário que enviou a imagem disse junto: {{ $('mensagem imagem').item.json['legenda imagem'] }}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -320
      ],
      "id": "bea8df2d-e112-4e27-a97c-fc0e2686e49d",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "355941df-932b-48d8-bee5-c0b7fc1ff374",
              "name": "arquivo aúdio",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -128
      ],
      "id": "d9618932-1225-46ab-bec5-a9c374e377d7",
      "name": "mensagem aúdio"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -128
      ],
      "id": "28e10108-74f4-457d-98d4-74c241158253",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "322ec29a-464b-4f6f-b10a-bd0f7a5d63d3",
              "name": "arquivo pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.url }}",
              "type": "string"
            },
            {
              "id": "43b042d4-223a-46d0-9ee5-7d37674148ee",
              "name": "título pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.title }}",
              "type": "string"
            },
            {
              "id": "30f05464-0e91-4921-8f91-5bc5e527d9b4",
              "name": "legenda pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        64
      ],
      "id": "409b6560-a352-4126-a516-407a87d8be3b",
      "name": "mensagem pdf"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=Analise o pdf e dê detalhes do que tem nele. Se o usuário enviar uma foto de algum produto, tente verificar se possui o nome dele na imagem. Se o usuário enviar uma relação de nomes de produtos para orçamento, analise e descreva bem cada item por categoria.\n\nO arquivo possui o seguinte título: {{ $('mensagem pdf').item.json['título pdf'] }}\n\nO usuário que enviou a imagem disse junto na legenda: {{ $('mensagem pdf').item.json['legenda pdf'] }}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        64,
        64
      ],
      "id": "b24b0afa-3e9c-4d3b-96b3-5613074e272e",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um Agente de IA responsável por interpretar mensagens enviadas por usuários no WhatsApp e determinar se já existem informações suficientes para criar uma tarefa no CRM Bitrix24 da empresa MD Representações.\n\nSua função é:\n\n1. Analisar todo o conteúdo recebido (texto, descrição de imagem/áudio/PDF e qualquer outro elemento consolidado no fluxo anterior).\n2. Identificar se todos os campos obrigatórios para criar uma tarefa estão disponíveis.\n3. Retornar UMA SAÍDA ESTRUTURADA EM JSON PURO quando todas as informações estiverem completas.\n4. Ou perguntar ao usuário pelas informações faltantes, seguindo o formato definido.\n\n--------------------------------------------------------------------------------\n🎯 CAMPOS OBRIGATÓRIOS PARA CRIAÇÃO DA TAREFA\n\nOs campos abaixo se dividem entre CONSTANTES e VARIÁVEIS:\n\n### 🟩 CAMPOS FIXOS (sempre iguais):\n- grupo: \"Tarefas-Gestão\"\n- criado_por: \"Alex\"\n- observadores: [\"Alex\", \"Fabiola\", \"Igor\", \"João\"]\n\n### 🟦 CAMPOS VARIÁVEIS (precisam ser identificados na mensagem):\n- nome_da_tarefa:\n  Deve seguir o padrão: \"Tipo da atividade - Nome do Cliente\"\n  Exemplo:\n  - Orçamento - Construtora ABC\n  - Compra - Loja XPTO\n\n- descricao:\n  Explicação textual do que deve ser feito. Pode vir da mensagem original ou da descrição gerada pela IA.\n\n- responsavel:\n  A pessoa indicada pelo usuário para executar a tarefa.\n\n- participantes:\n  Lista de outras pessoas mencionadas pelo usuário que atuarão junto.\n\n- prazo:\n  Regras:\n    - Se a mensagem foi enviada antes de 12h → prazo: hoje às 18:00\n    - Se enviada após 12h → prazo: próximo dia útil às 12:00\n  (O agente deve calcular automaticamente)\n\n--------------------------------------------------------------------------------\n🧠 LÓGICA DE DECISÃO E FORMATO DE SAÍDA (OBRIGATÓRIO)\n\n### ✔️ SE TODAS AS INFORMAÇÕES OBRIGATÓRIAS ESTIVEREM PRESENTES:\n\nVocê DEVE retornar **APENAS UM JSON VÁLIDO**, sem qualquer texto fora do JSON.\n\nFormato EXATO da resposta:\n\n{\n  \"pode_criar\": true,\n  \"mensagem_usuario\": \"Obrigado por todas as informações, sua tarefa será criada!\",\n  \"dados_tarefa\": {\n    \"grupo\": \"Tarefas-Gestão\",\n    \"criado_por\": \"Alex\",\n    \"observadores\": [\"Alex\", \"Fabiola\", \"Igor\", \"João\"],\n    \"nome_da_tarefa\": \"\",\n    \"descricao\": \"\",\n    \"responsavel\": \"\",\n    \"participantes\": [],\n    \"prazo\": \"\"\n  }\n}\n\n--------------------------------------------------------------------------------\n❌ SE FALTAR QUALQUER INFORMAÇÃO:\n\nVocê DEVE retornar **APENAS UM JSON VÁLIDO**, sem qualquer texto fora do JSON.\n\nFormato EXATO da resposta:\n\n{\n  \"pode_criar\": false,\n  \"mensagem_usuario\": \"Ainda faltam algumas informações, não consigo criar a sua tarefa por enquanto.\",\n  \"faltando\": [],\n  \"pergunta\": \"\"\n}\n\nOnde:\n- \"faltando\" deve conter uma lista objetiva dos campos ausentes.\n- \"pergunta\" deve conter uma pergunta clara e direta ao usuário.\n\n--------------------------------------------------------------------------------\n📌 REGRAS IMPORTANTES\n\n- Nunca invente dados.\n- Só use informações realmente encontradas na mensagem.\n- Caso o usuário mencione nomes, considere-os como possíveis responsáveis ou participantes.\n- Se a descrição vier de imagem/áudio/pdf, use-a normalmente.\n- O output deve ser SEMPRE JSON PURO, válido e parseável.\n- Nunca escreva texto fora do JSON.\n- Se houver ambiguidade, pergunte.\n\n--------------------------------------------------------------------------------\nAgora siga sempre essa lógica e responda de acordo com o conteúdo recebido.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3408,
        32
      ],
      "id": "075efd51-4eeb-4c69-b54d-4735112bbb57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3488,
        256
      ],
      "id": "4d7eeb70-3fdf-4122-a18a-69899891b982",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Organização de dados').item.json.remoteJid }}",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1664,
        -256
      ],
      "id": "c7951be6-b1ef-41a1-9e37-2bfd8320c8c5",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "=Olá {{ $('Organização de dados').item.json.pushName }}! Tudo bem? Não consigo ler esse tipo de arquivo, por favor enviar novamente.",
        "options_message": {
          "delay": 3000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -832,
        208
      ],
      "id": "409afcda-a91a-49b7-a73c-f89c1e519026",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pode_criar }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "02cbed15-6932-4f2e-8c5e-5fb91e0775f2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4401edb1-1ea3-44d7-8d5f-8be74e163506",
                    "leftValue": "={{ $json.pode_criar }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sim"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3984,
        32
      ],
      "id": "37522342-9d3c-49f2-b2e5-aa1411cbf897",
      "name": "Pode criar a tarefa?"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $json.dados.mensagem_usuario }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4208,
        -80
      ],
      "id": "395af14a-8600-4e67-bed9-128551f291be",
      "name": "Msg resposta",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $('Pode criar a tarefa?').item.json.dados.pergunta }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4432,
        -80
      ],
      "id": "427f3f8d-f4c2-44f2-8193-fa690a1b52f2",
      "name": "Msg pergunta",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $json.dados.mensagem_usuario }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4208,
        128
      ],
      "id": "2ac03ad8-6d56-4a3e-b29c-0cfd7aab2d27",
      "name": "Msg resposta1",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5187a99e-f718-4cbf-9d64-cc30e1283593",
              "name": "Nome da tarefa",
              "value": "={{ $('Organização dos dados 2').item.json['Nome da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "14291dfb-26ac-4958-95ff-ff28053355a9",
              "name": "Descrição da tarefa",
              "value": "={{ $('Organização dos dados 2').item.json['Descrição da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "58e38328-7762-4fc4-b75c-e4a8c276c3c3",
              "name": "Grupo",
              "value": 11,
              "type": "number"
            },
            {
              "id": "f0771fca-d4e6-4577-8f1c-834c12d4e293",
              "name": "Criado por",
              "value": "={{ $json['Criado por'] }}",
              "type": "string"
            },
            {
              "id": "844024f7-93ad-4da0-bb17-737c86139a3a",
              "name": "Responsável",
              "value": "={{ $json.mapa_usuarios[$json['Responsável']] }}",
              "type": "number"
            },
            {
              "id": "55a6a090-02fc-40ab-8565-56f5ba3f5345",
              "name": "Participantes",
              "value": "={{ JSON.parse(JSON.stringify($json.Participantes.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "be8c15e3-54bb-4454-a3f3-df90b524a903",
              "name": "Observadores",
              "value": "={{ JSON.parse(JSON.stringify($json.Observadores.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "1b80080c-a909-41a5-8961-ca785e6732e6",
              "name": "Prazo",
              "value": "={{ $json.Prazo }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4656,
        128
      ],
      "id": "0df82158-06bf-4a53-8d8e-13fa606ce04f",
      "name": "Dados para o bitrix"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fb09419-dc74-41d8-9696-726d6c29988b",
              "name": "mapa_usuarios",
              "value": "{\n  \"Lucas\": 1621,\n  \"Margley\": 8737,\n  \"Yulle\": 8739,\n  \"Pricila\": 8741,\n  \"Érika\": 8743,\n  \"João\": 11251,\n  \"Fabiola\": 17,\n  \"Alex\": 1,\n  \"Igor\": 15,\n  \"José\": 8731,\n  \"Daniel\": 10695\n}\n",
              "type": "object"
            },
            {
              "id": "aeaa225a-4d4d-472c-aac5-b181baad36d0",
              "name": "Nome da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.nome_da_tarefa }}",
              "type": "string"
            },
            {
              "id": "7eddf10e-20f6-4ecc-83c7-5d6363a5b339",
              "name": "Descrição da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.descricao }}",
              "type": "string"
            },
            {
              "id": "a766672f-8868-44bc-8814-f568863b79fd",
              "name": "Grupo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.grupo }}",
              "type": "string"
            },
            {
              "id": "d04959f2-27d1-4411-9614-58e9c31dd56c",
              "name": "Criado por",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.criado_por }}",
              "type": "string"
            },
            {
              "id": "2b4ec8bd-27c7-44fd-b180-9c9e01af5fe1",
              "name": "Responsável",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.responsavel }}",
              "type": "string"
            },
            {
              "id": "bad84035-35c5-47b4-9963-8f5b2c3ac71e",
              "name": "Participantes",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.participantes }}",
              "type": "array"
            },
            {
              "id": "50a13735-6ea8-48cc-9d1a-0bbeb20888af",
              "name": "Observadores",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.observadores }}",
              "type": "array"
            },
            {
              "id": "b4f4da90-6ccd-4d4e-af78-688e7a2ca735",
              "name": "Prazo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.prazo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4432,
        128
      ],
      "id": "909f7fe6-070b-4423-ab9f-688c7ee1a22a",
      "name": "Organização dos dados 2",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/jjbltzqkihxgot8n/tasks.task.add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields[TITLE]",
              "value": "={{ $json['Nome da tarefa'] }}"
            },
            {
              "name": "fields[DESCRIPTION]",
              "value": "={{ $json['Descrição da tarefa'] }}"
            },
            {
              "name": "fields[RESPONSIBLE_ID]",
              "value": "={{ $json['Responsável'] }}"
            },
            {
              "name": "fields[GROUP_ID]",
              "value": "={{ $json.Grupo }}"
            },
            {
              "name": "fields[ACCOMPLICES]",
              "value": "={{ $json.Participantes }}"
            },
            {
              "name": "fields[AUDITORS]",
              "value": "={{ $json.Observadores }}"
            },
            {
              "name": "fields[DEADLINE]",
              "value": "={{ $json.Prazo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4880,
        128
      ],
      "id": "f4e6acc1-46b6-4932-a39f-46f5dd27ce7c",
      "name": "Criação da task"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -384,
        -128
      ],
      "id": "96028fad-e483-4ee0-9487-3f20c7d7215b",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        -128
      ],
      "id": "13861296-0b0e-4116-ab9b-7119b018c47e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        -320
      ],
      "id": "a3d51d17-f14e-46cb-a77c-179bfe85c7c1",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        -320
      ],
      "id": "c41ddcff-23a7-47b8-be3c-a46a70506a11",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -384,
        64
      ],
      "id": "419a0c3c-e64a-4d77-ad4a-f2e2ee4927d8",
      "name": "Obter m dia em base65",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        64
      ],
      "id": "c745f5f5-ebc7-4900-b784-bc7a4c1d56e2",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} block",
        "value": "true",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -368
      ],
      "id": "9d130d7a-49c3-4257-83d9-6ee75ccc4e66",
      "name": "Chave block",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        -80
      ],
      "id": "02a41078-92f5-45f4-9f94-b084b0d50dc6",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "db8bacb1-7efb-46ff-a5ad-3395f21259cd",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -80
      ],
      "id": "edd6b16e-f347-4a93-80e2-46fdab1ca89a",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Merge').item.json['msg final'] }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1584,
        -480
      ],
      "id": "1e847a94-ceb9-479e-8bed-6f05a8ce6742",
      "name": "Mensagens dos colaboradores"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Merge').item.json['msg final'] }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1936,
        -176
      ],
      "id": "df1c28cf-0f3e-4d07-8b80-4bcd9db2a88a",
      "name": "Mensagens dos clientes"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp",
        "messageData": "={{ $('Merge').item.json['msg final'] }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        32
      ],
      "id": "b3b6790c-372b-4633-9a9d-6dc6238469c6",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2288,
        32
      ],
      "id": "09c8dc08-2b16-4164-9a63-1b0322ee871f",
      "name": "Wait",
      "webhookId": "125437a3-6190-4850-9546-e0d77d776ef8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2512,
        32
      ],
      "id": "001e29ed-8876-47d5-90e6-2d938d8be948",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89969736-9d78-4448-b856-7fc0783961e1",
              "leftValue": "={{ $json.messages.last() }}",
              "rightValue": "={{ $('Merge').item.json['msg final'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2736,
        32
      ],
      "id": "5723af42-f0c6-4c30-84f5-06f6c632c708",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2960,
        32
      ],
      "id": "ae3ec62c-a1d4-4526-a6cf-1f992fa742f3",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49411f57-358b-4f95-8a48-5a8fac6bf124",
              "name": "message",
              "value": "={{ $('Redis2').item.json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        32
      ],
      "id": "ab173db8-9e65-4699-8ee1-2568ea476177",
      "name": "Mensagem final para o agente"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) - Run Once for All Items\n\nfunction proximoDiaUtil(dateObj) {\n  // dateObj é um Date (com hora ignorada)\n  // 0=dom, 6=sab\n  while (dateObj.getDay() === 0 || dateObj.getDay() === 6) {\n    dateObj.setDate(dateObj.getDate() + 1);\n  }\n  return dateObj;\n}\n\nfunction calcularPrazo(now) {\n  const due = new Date(now);\n\n  // antes de 12:00 -> hoje 18:00\n  if (now.getHours() < 12) {\n    due.setHours(18, 0, 0, 0);\n    return due.toISOString();\n  }\n\n  // após 12:00 -> próximo dia útil 12:00\n  const next = new Date(now);\n  next.setDate(next.getDate() + 1);\n  next.setHours(0, 0, 0, 0);\n\n  proximoDiaUtil(next);\n  next.setHours(12, 0, 0, 0);\n\n  return next.toISOString();\n}\n\nfunction limparTexto(rawText) {\n  // Remove ```json, ``` e também um \"json\" solto no início\n  let cleaned = String(rawText);\n\n  cleaned = cleaned.replace(/```(?:json)?/gi, \"\").replace(/```/g, \"\");\n  cleaned = cleaned.trim();\n  cleaned = cleaned.replace(/^\\s*json\\s*/i, \"\").trim();\n\n  return cleaned;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const rawText = item.json?.output ?? \"\";\n\n  if (!rawText) {\n    out.push({\n      json: { ok: false, error: \"Campo 'output' vazio\", raw: item.json },\n    });\n    continue;\n  }\n\n  const cleaned = limparTexto(rawText);\n\n  try {\n    const parsed = JSON.parse(cleaned);\n\n    // Só calcula prazo quando pode_criar = true e prazo vazio\n    if (Boolean(parsed?.pode_criar)) {\n      const prazo = parsed?.prazo;\n      const prazoVazio =\n        prazo === null ||\n        prazo === undefined ||\n        (typeof prazo === \"string\" && prazo.trim() === \"\");\n\n      if (prazoVazio) {\n        parsed.prazo = calcularPrazo(new Date());\n      }\n    }\n\n    out.push({\n      json: {\n        ok: true,\n        pode_criar: Boolean(parsed?.pode_criar ?? false),\n        dados: parsed,\n      },\n    });\n  } catch (e) {\n    out.push({\n      json: { ok: false, error: String(e?.message ?? e), raw_text: rawText },\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        32
      ],
      "id": "837ade59-3951-4b16-b9df-f4ba346743d8",
      "name": "Quebra de texto para JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05242e6-f6a6-44da-b6e4-d419146a4709",
              "leftValue": "={{ $('Organização de dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -336
      ],
      "id": "5e4588d7-0a1d-452a-933a-d59953ea8542",
      "name": "Foi eu que enviei a msg?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12e38dd9-e9a3-4113-bf3a-83ff7c2aa22c",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -320
      ],
      "id": "81b36131-0665-41a8-a941-2896cedfe5b9",
      "name": "Descrição final da imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46c60aef-6b98-41db-8e0b-cc10b71e26ff",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -160
      ],
      "id": "4222b049-8f76-4cac-9e3d-35c5f39fd691",
      "name": "Transcrição final do aúdio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ba50bce-8220-4cef-b352-278f52180cb8",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        64
      ],
      "id": "5bc3138e-2e17-477f-b73c-e9196c63d019",
      "name": "Descrição final do pdf"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mdrepres-n8n.zcnijx.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "13968",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "mdrepres-n8n.zcnijx.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5ede1182b9fe",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "mdrepres",
            "data": {
              "key": {
                "remoteJid": "558491029054@s.whatsapp.net",
                "remoteJidAlt": "43297615687827@lid",
                "fromMe": false,
                "id": "3EB0F60BE39CC222934FFD",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Lucas",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 73,
                      "1": 89,
                      "2": 69,
                      "3": 222,
                      "4": 140,
                      "5": 39,
                      "6": 101,
                      "7": 236,
                      "8": 127,
                      "9": 162
                    },
                    "senderTimestamp": {
                      "low": 1766773509,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 16,
                      "1": 132,
                      "2": 21,
                      "3": 244,
                      "4": 65,
                      "5": 26,
                      "6": 8,
                      "7": 114,
                      "8": 213,
                      "9": 60
                    },
                    "recipientTimestamp": {
                      "low": 1766751220,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 151,
                    "1": 105,
                    "2": 155,
                    "3": 94,
                    "4": 59,
                    "5": 70,
                    "6": 208,
                    "7": 4,
                    "8": 54,
                    "9": 46,
                    "10": 230,
                    "11": 5,
                    "12": 4,
                    "13": 254,
                    "14": 225,
                    "15": 64,
                    "16": 48,
                    "17": 102,
                    "18": 230,
                    "19": 207,
                    "20": 118,
                    "21": 72,
                    "22": 195,
                    "23": 98,
                    "24": 142,
                    "25": 92,
                    "26": 0,
                    "27": 22,
                    "28": 158,
                    "29": 53,
                    "30": 19,
                    "31": 45
                  }
                },
                "documentMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7119-24/562191586_1578143446715911_4510030136241895403_n.enc?ccb=11-4&oh=01_Q5Aa3QGF43fmKQkOoJzlO9B9ssx136Bjkccvc34JUNtbZYWbEw&oe=697757E5&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "application/pdf",
                  "title": "Danfe 2025-12-26 19-40-21 (2).pdf",
                  "fileSha256": {
                    "0": 217,
                    "1": 143,
                    "2": 111,
                    "3": 104,
                    "4": 118,
                    "5": 170,
                    "6": 171,
                    "7": 214,
                    "8": 137,
                    "9": 50,
                    "10": 38,
                    "11": 114,
                    "12": 107,
                    "13": 225,
                    "14": 20,
                    "15": 163,
                    "16": 67,
                    "17": 94,
                    "18": 68,
                    "19": 217,
                    "20": 43,
                    "21": 156,
                    "22": 242,
                    "23": 218,
                    "24": 233,
                    "25": 82,
                    "26": 234,
                    "27": 4,
                    "28": 47,
                    "29": 201,
                    "30": 43,
                    "31": 238
                  },
                  "fileLength": {
                    "low": 95790,
                    "high": 0,
                    "unsigned": true
                  },
                  "pageCount": 1,
                  "mediaKey": {
                    "0": 17,
                    "1": 216,
                    "2": 236,
                    "3": 220,
                    "4": 211,
                    "5": 116,
                    "6": 33,
                    "7": 110,
                    "8": 206,
                    "9": 195,
                    "10": 198,
                    "11": 59,
                    "12": 220,
                    "13": 216,
                    "14": 32,
                    "15": 86,
                    "16": 243,
                    "17": 127,
                    "18": 191,
                    "19": 40,
                    "20": 0,
                    "21": 91,
                    "22": 8,
                    "23": 154,
                    "24": 56,
                    "25": 84,
                    "26": 171,
                    "27": 87,
                    "28": 134,
                    "29": 95,
                    "30": 201,
                    "31": 12
                  },
                  "fileName": "Danfe 2025-12-26 19-40-21 (2).pdf",
                  "fileEncSha256": {
                    "0": 178,
                    "1": 197,
                    "2": 202,
                    "3": 75,
                    "4": 175,
                    "5": 86,
                    "6": 125,
                    "7": 72,
                    "8": 24,
                    "9": 162,
                    "10": 228,
                    "11": 185,
                    "12": 227,
                    "13": 133,
                    "14": 62,
                    "15": 5,
                    "16": 62,
                    "17": 127,
                    "18": 49,
                    "19": 199,
                    "20": 222,
                    "21": 124,
                    "22": 246,
                    "23": 233,
                    "24": 71,
                    "25": 5,
                    "26": 233,
                    "27": 190,
                    "28": 114,
                    "29": 169,
                    "30": 152,
                    "31": 124
                  },
                  "directPath": "/v/t62.7119-24/562191586_1578143446715911_4510030136241895403_n.enc?ccb=11-4&oh=01_Q5Aa3QGF43fmKQkOoJzlO9B9ssx136Bjkccvc34JUNtbZYWbEw&oe=697757E5&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": {
                    "low": 1766840721,
                    "high": 0,
                    "unsigned": false
                  },
                  "contactVcard": false,
                  "thumbnailDirectPath": "/v/t62.36145-24/593730705_1180127741000321_4247366545001632793_n.enc?ccb=11-4&oh=01_Q5Aa3QG963NU6WJqJ3ffbj1oRBRLanlUIClNKkUPO-S371keiw&oe=69774EA3&_nc_sid=5e03e0",
                  "thumbnailSha256": {
                    "0": 108,
                    "1": 55,
                    "2": 254,
                    "3": 34,
                    "4": 101,
                    "5": 111,
                    "6": 26,
                    "7": 215,
                    "8": 29,
                    "9": 44,
                    "10": 58,
                    "11": 249,
                    "12": 31,
                    "13": 39,
                    "14": 12,
                    "15": 187,
                    "16": 49,
                    "17": 16,
                    "18": 176,
                    "19": 107,
                    "20": 179,
                    "21": 147,
                    "22": 25,
                    "23": 177,
                    "24": 80,
                    "25": 227,
                    "26": 255,
                    "27": 180,
                    "28": 201,
                    "29": 217,
                    "30": 225,
                    "31": 73
                  },
                  "thumbnailEncSha256": {
                    "0": 94,
                    "1": 21,
                    "2": 108,
                    "3": 51,
                    "4": 196,
                    "5": 119,
                    "6": 235,
                    "7": 80,
                    "8": 118,
                    "9": 59,
                    "10": 223,
                    "11": 18,
                    "12": 40,
                    "13": 131,
                    "14": 16,
                    "15": 177,
                    "16": 55,
                    "17": 54,
                    "18": 183,
                    "19": 92,
                    "20": 111,
                    "21": 224,
                    "22": 195,
                    "23": 27,
                    "24": 246,
                    "25": 209,
                    "26": 225,
                    "27": 240,
                    "28": 171,
                    "29": 85,
                    "30": 56,
                    "31": 115
                  },
                  "jpegThumbnail": {
                    "0": 255,
                    "1": 216,
                    "2": 255,
                    "3": 224,
                    "4": 0,
                    "5": 16,
                    "6": 74,
                    "7": 70,
                    "8": 73,
                    "9": 70,
                    "10": 0,
                    "11": 1,
                    "12": 1,
                    "13": 0,
                    "14": 0,
                    "15": 1,
                    "16": 0,
                    "17": 1,
                    "18": 0,
                    "19": 0,
                    "20": 255,
                    "21": 226,
                    "22": 1,
                    "23": 216,
                    "24": 73,
                    "25": 67,
                    "26": 67,
                    "27": 95,
                    "28": 80,
                    "29": 82,
                    "30": 79,
                    "31": 70,
                    "32": 73,
                    "33": 76,
                    "34": 69,
                    "35": 0,
                    "36": 1,
                    "37": 1,
                    "38": 0,
                    "39": 0,
                    "40": 1,
                    "41": 200,
                    "42": 0,
                    "43": 0,
                    "44": 0,
                    "45": 0,
                    "46": 4,
                    "47": 48,
                    "48": 0,
                    "49": 0,
                    "50": 109,
                    "51": 110,
                    "52": 116,
                    "53": 114,
                    "54": 82,
                    "55": 71,
                    "56": 66,
                    "57": 32,
                    "58": 88,
                    "59": 89,
                    "60": 90,
                    "61": 32,
                    "62": 7,
                    "63": 224,
                    "64": 0,
                    "65": 1,
                    "66": 0,
                    "67": 1,
                    "68": 0,
                    "69": 0,
                    "70": 0,
                    "71": 0,
                    "72": 0,
                    "73": 0,
                    "74": 97,
                    "75": 99,
                    "76": 115,
                    "77": 112,
                    "78": 0,
                    "79": 0,
                    "80": 0,
                    "81": 0,
                    "82": 0,
                    "83": 0,
                    "84": 0,
                    "85": 0,
                    "86": 0,
                    "87": 0,
                    "88": 0,
                    "89": 0,
                    "90": 0,
                    "91": 0,
                    "92": 0,
                    "93": 0,
                    "94": 0,
                    "95": 0,
                    "96": 0,
                    "97": 0,
                    "98": 0,
                    "99": 0,
                    "100": 0,
                    "101": 0,
                    "102": 0,
                    "103": 0,
                    "104": 0,
                    "105": 1,
                    "106": 0,
                    "107": 0,
                    "108": 246,
                    "109": 214,
                    "110": 0,
                    "111": 1,
                    "112": 0,
                    "113": 0,
                    "114": 0,
                    "115": 0,
                    "116": 211,
                    "117": 45,
                    "118": 0,
                    "119": 0,
                    "120": 0,
                    "121": 0,
                    "122": 0,
                    "123": 0,
                    "124": 0,
                    "125": 0,
                    "126": 0,
                    "127": 0,
                    "128": 0,
                    "129": 0,
                    "130": 0,
                    "131": 0,
                    "132": 0,
                    "133": 0,
                    "134": 0,
                    "135": 0,
                    "136": 0,
                    "137": 0,
                    "138": 0,
                    "139": 0,
                    "140": 0,
                    "141": 0,
                    "142": 0,
                    "143": 0,
                    "144": 0,
                    "145": 0,
                    "146": 0,
                    "147": 0,
                    "148": 0,
                    "149": 0,
                    "150": 0,
                    "151": 0,
                    "152": 0,
                    "153": 0,
                    "154": 0,
                    "155": 0,
                    "156": 0,
                    "157": 0,
                    "158": 0,
                    "159": 0,
                    "160": 0,
                    "161": 0,
                    "162": 0,
                    "163": 0,
                    "164": 0,
                    "165": 0,
                    "166": 0,
                    "167": 0,
                    "168": 0,
                    "169": 9,
                    "170": 100,
                    "171": 101,
                    "172": 115,
                    "173": 99,
                    "174": 0,
                    "175": 0,
                    "176": 0,
                    "177": 240,
                    "178": 0,
                    "179": 0,
                    "180": 0,
                    "181": 36,
                    "182": 114,
                    "183": 88,
                    "184": 89,
                    "185": 90,
                    "186": 0,
                    "187": 0,
                    "188": 1,
                    "189": 20,
                    "190": 0,
                    "191": 0,
                    "192": 0,
                    "193": 20,
                    "194": 103,
                    "195": 88,
                    "196": 89,
                    "197": 90,
                    "198": 0,
                    "199": 0,
                    "200": 1,
                    "201": 40,
                    "202": 0,
                    "203": 0,
                    "204": 0,
                    "205": 20,
                    "206": 98,
                    "207": 88,
                    "208": 89,
                    "209": 90,
                    "210": 0,
                    "211": 0,
                    "212": 1,
                    "213": 60,
                    "214": 0,
                    "215": 0,
                    "216": 0,
                    "217": 20,
                    "218": 119,
                    "219": 116,
                    "220": 112,
                    "221": 116,
                    "222": 0,
                    "223": 0,
                    "224": 1,
                    "225": 80,
                    "226": 0,
                    "227": 0,
                    "228": 0,
                    "229": 20,
                    "230": 114,
                    "231": 84,
                    "232": 82,
                    "233": 67,
                    "234": 0,
                    "235": 0,
                    "236": 1,
                    "237": 100,
                    "238": 0,
                    "239": 0,
                    "240": 0,
                    "241": 40,
                    "242": 103,
                    "243": 84,
                    "244": 82,
                    "245": 67,
                    "246": 0,
                    "247": 0,
                    "248": 1,
                    "249": 100,
                    "250": 0,
                    "251": 0,
                    "252": 0,
                    "253": 40,
                    "254": 98,
                    "255": 84,
                    "256": 82,
                    "257": 67,
                    "258": 0,
                    "259": 0,
                    "260": 1,
                    "261": 100,
                    "262": 0,
                    "263": 0,
                    "264": 0,
                    "265": 40,
                    "266": 99,
                    "267": 112,
                    "268": 114,
                    "269": 116,
                    "270": 0,
                    "271": 0,
                    "272": 1,
                    "273": 140,
                    "274": 0,
                    "275": 0,
                    "276": 0,
                    "277": 60,
                    "278": 109,
                    "279": 108,
                    "280": 117,
                    "281": 99,
                    "282": 0,
                    "283": 0,
                    "284": 0,
                    "285": 0,
                    "286": 0,
                    "287": 0,
                    "288": 0,
                    "289": 1,
                    "290": 0,
                    "291": 0,
                    "292": 0,
                    "293": 12,
                    "294": 101,
                    "295": 110,
                    "296": 85,
                    "297": 83,
                    "298": 0,
                    "299": 0,
                    "300": 0,
                    "301": 8,
                    "302": 0,
                    "303": 0,
                    "304": 0,
                    "305": 28,
                    "306": 0,
                    "307": 115,
                    "308": 0,
                    "309": 82,
                    "310": 0,
                    "311": 71,
                    "312": 0,
                    "313": 66,
                    "314": 88,
                    "315": 89,
                    "316": 90,
                    "317": 32,
                    "318": 0,
                    "319": 0,
                    "320": 0,
                    "321": 0,
                    "322": 0,
                    "323": 0,
                    "324": 111,
                    "325": 162,
                    "326": 0,
                    "327": 0,
                    "328": 56,
                    "329": 245,
                    "330": 0,
                    "331": 0,
                    "332": 3,
                    "333": 144,
                    "334": 88,
                    "335": 89,
                    "336": 90,
                    "337": 32,
                    "338": 0,
                    "339": 0,
                    "340": 0,
                    "341": 0,
                    "342": 0,
                    "343": 0,
                    "344": 98,
                    "345": 153,
                    "346": 0,
                    "347": 0,
                    "348": 183,
                    "349": 133,
                    "350": 0,
                    "351": 0,
                    "352": 24,
                    "353": 218,
                    "354": 88,
                    "355": 89,
                    "356": 90,
                    "357": 32,
                    "358": 0,
                    "359": 0,
                    "360": 0,
                    "361": 0,
                    "362": 0,
                    "363": 0,
                    "364": 36,
                    "365": 160,
                    "366": 0,
                    "367": 0,
                    "368": 15,
                    "369": 132,
                    "370": 0,
                    "371": 0,
                    "372": 182,
                    "373": 207,
                    "374": 88,
                    "375": 89,
                    "376": 90,
                    "377": 32,
                    "378": 0,
                    "379": 0,
                    "380": 0,
                    "381": 0,
                    "382": 0,
                    "383": 0,
                    "384": 246,
                    "385": 214,
                    "386": 0,
                    "387": 1,
                    "388": 0,
                    "389": 0,
                    "390": 0,
                    "391": 0,
                    "392": 211,
                    "393": 45,
                    "394": 112,
                    "395": 97,
                    "396": 114,
                    "397": 97,
                    "398": 0,
                    "399": 0,
                    "400": 0,
                    "401": 0,
                    "402": 0,
                    "403": 4,
                    "404": 0,
                    "405": 0,
                    "406": 0,
                    "407": 2,
                    "408": 102,
                    "409": 102,
                    "410": 0,
                    "411": 0,
                    "412": 242,
                    "413": 167,
                    "414": 0,
                    "415": 0,
                    "416": 13,
                    "417": 89,
                    "418": 0,
                    "419": 0,
                    "420": 19,
                    "421": 208,
                    "422": 0,
                    "423": 0,
                    "424": 10,
                    "425": 91,
                    "426": 0,
                    "427": 0,
                    "428": 0,
                    "429": 0,
                    "430": 0,
                    "431": 0,
                    "432": 0,
                    "433": 0,
                    "434": 109,
                    "435": 108,
                    "436": 117,
                    "437": 99,
                    "438": 0,
                    "439": 0,
                    "440": 0,
                    "441": 0,
                    "442": 0,
                    "443": 0,
                    "444": 0,
                    "445": 1,
                    "446": 0,
                    "447": 0,
                    "448": 0,
                    "449": 12,
                    "450": 101,
                    "451": 110,
                    "452": 85,
                    "453": 83,
                    "454": 0,
                    "455": 0,
                    "456": 0,
                    "457": 32,
                    "458": 0,
                    "459": 0,
                    "460": 0,
                    "461": 28,
                    "462": 0,
                    "463": 71,
                    "464": 0,
                    "465": 111,
                    "466": 0,
                    "467": 111,
                    "468": 0,
                    "469": 103,
                    "470": 0,
                    "471": 108,
                    "472": 0,
                    "473": 101,
                    "474": 0,
                    "475": 32,
                    "476": 0,
                    "477": 73,
                    "478": 0,
                    "479": 110,
                    "480": 0,
                    "481": 99,
                    "482": 0,
                    "483": 46,
                    "484": 0,
                    "485": 32,
                    "486": 0,
                    "487": 50,
                    "488": 0,
                    "489": 48,
                    "490": 0,
                    "491": 49,
                    "492": 0,
                    "493": 54,
                    "494": 255,
                    "495": 219,
                    "496": 0,
                    "497": 67,
                    "498": 0,
                    "499": 3,
                    "500": 2,
                    "501": 2,
                    "502": 2,
                    "503": 2,
                    "504": 2,
                    "505": 3,
                    "506": 2,
                    "507": 2,
                    "508": 2,
                    "509": 3,
                    "510": 3,
                    "511": 3,
                    "512": 3,
                    "513": 4,
                    "514": 6,
                    "515": 4,
                    "516": 4,
                    "517": 4,
                    "518": 4,
                    "519": 4,
                    "520": 8,
                    "521": 6,
                    "522": 6,
                    "523": 5,
                    "524": 6,
                    "525": 9,
                    "526": 8,
                    "527": 10,
                    "528": 10,
                    "529": 9,
                    "530": 8,
                    "531": 9,
                    "532": 9,
                    "533": 10,
                    "534": 12,
                    "535": 15,
                    "536": 12,
                    "537": 10,
                    "538": 11,
                    "539": 14,
                    "540": 11,
                    "541": 9,
                    "542": 9,
                    "543": 13,
                    "544": 17,
                    "545": 13,
                    "546": 14,
                    "547": 15,
                    "548": 16,
                    "549": 16,
                    "550": 17,
                    "551": 16,
                    "552": 10,
                    "553": 12,
                    "554": 18,
                    "555": 19,
                    "556": 18,
                    "557": 16,
                    "558": 19,
                    "559": 15,
                    "560": 16,
                    "561": 16,
                    "562": 16,
                    "563": 255,
                    "564": 219,
                    "565": 0,
                    "566": 67,
                    "567": 1,
                    "568": 3,
                    "569": 3,
                    "570": 3,
                    "571": 4,
                    "572": 3,
                    "573": 4,
                    "574": 8,
                    "575": 4,
                    "576": 4,
                    "577": 8,
                    "578": 16,
                    "579": 11,
                    "580": 9,
                    "581": 11,
                    "582": 16,
                    "583": 16,
                    "584": 16,
                    "585": 16,
                    "586": 16,
                    "587": 16,
                    "588": 16,
                    "589": 16,
                    "590": 16,
                    "591": 16,
                    "592": 16,
                    "593": 16,
                    "594": 16,
                    "595": 16,
                    "596": 16,
                    "597": 16,
                    "598": 16,
                    "599": 16,
                    "600": 16,
                    "601": 16,
                    "602": 16,
                    "603": 16,
                    "604": 16,
                    "605": 16,
                    "606": 16,
                    "607": 16,
                    "608": 16,
                    "609": 16,
                    "610": 16,
                    "611": 16,
                    "612": 16,
                    "613": 16,
                    "614": 16,
                    "615": 16,
                    "616": 16,
                    "617": 16,
                    "618": 16,
                    "619": 16,
                    "620": 16,
                    "621": 16,
                    "622": 16,
                    "623": 16,
                    "624": 16,
                    "625": 16,
                    "626": 16,
                    "627": 16,
                    "628": 16,
                    "629": 16,
                    "630": 16,
                    "631": 16,
                    "632": 255,
                    "633": 192,
                    "634": 0,
                    "635": 17,
                    "636": 8,
                    "637": 0,
                    "638": 26,
                    "639": 0,
                    "640": 18,
                    "641": 3,
                    "642": 1,
                    "643": 34,
                    "644": 0,
                    "645": 2,
                    "646": 17,
                    "647": 1,
                    "648": 3,
                    "649": 17,
                    "650": 1,
                    "651": 255,
                    "652": 196,
                    "653": 0,
                    "654": 27,
                    "655": 0,
                    "656": 0,
                    "657": 1,
                    "658": 4,
                    "659": 3,
                    "660": 0,
                    "661": 0,
                    "662": 0,
                    "663": 0,
                    "664": 0,
                    "665": 0,
                    "666": 0,
                    "667": 0,
                    "668": 0,
                    "669": 0,
                    "670": 0,
                    "671": 0,
                    "672": 0,
                    "673": 2,
                    "674": 3,
                    "675": 5,
                    "676": 6,
                    "677": 4,
                    "678": 7,
                    "679": 9,
                    "680": 255,
                    "681": 196,
                    "682": 0,
                    "683": 35,
                    "684": 16,
                    "685": 0,
                    "686": 2,
                    "687": 2,
                    "688": 2,
                    "689": 2,
                    "690": 3,
                    "691": 1,
                    "692": 0,
                    "693": 3,
                    "694": 1,
                    "695": 0,
                    "696": 0,
                    "697": 0,
                    "698": 0,
                    "699": 0,
                    "700": 0,
                    "701": 1,
                    "702": 2,
                    "703": 3,
                    "704": 4,
                    "705": 5,
                    "706": 17,
                    "707": 0,
                    "708": 6,
                    "709": 18,
                    "710": 19,
                    "711": 33,
                    "712": 34,
                    "713": 7,
                    "714": 20,
                    "715": 97,
                    "716": 81,
                    "717": 255,
                    "718": 196,
                    "719": 0,
                    "720": 20,
                    "721": 1,
                    "722": 1,
                    "723": 0,
                    "724": 0,
                    "725": 0,
                    "726": 0,
                    "727": 0,
                    "728": 0,
                    "729": 0,
                    "730": 0,
                    "731": 0,
                    "732": 0,
                    "733": 0,
                    "734": 0,
                    "735": 0,
                    "736": 0,
                    "737": 0,
                    "738": 0,
                    "739": 255,
                    "740": 196,
                    "741": 0,
                    "742": 20,
                    "743": 17,
                    "744": 1,
                    "745": 0,
                    "746": 0,
                    "747": 0,
                    "748": 0,
                    "749": 0,
                    "750": 0,
                    "751": 0,
                    "752": 0,
                    "753": 0,
                    "754": 0,
                    "755": 0,
                    "756": 0,
                    "757": 0,
                    "758": 0,
                    "759": 0,
                    "760": 0,
                    "761": 255,
                    "762": 218,
                    "763": 0,
                    "764": 12,
                    "765": 3,
                    "766": 1,
                    "767": 0,
                    "768": 2,
                    "769": 17,
                    "770": 3,
                    "771": 17,
                    "772": 0,
                    "773": 63,
                    "774": 0,
                    "775": 233,
                    "776": 86,
                    "777": 31,
                    "778": 181,
                    "779": 83,
                    "780": 135,
                    "781": 29,
                    "782": 74,
                    "783": 187,
                    "784": 209,
                    "785": 202,
                    "786": 17,
                    "787": 20,
                    "788": 9,
                    "789": 27,
                    "790": 178,
                    "791": 226,
                    "792": 110,
                    "793": 55,
                    "794": 233,
                    "795": 84,
                    "796": 15,
                    "797": 206,
                    "798": 161,
                    "799": 33,
                    "800": 134,
                    "801": 193,
                    "802": 209,
                    "803": 7,
                    "804": 68,
                    "805": 104,
                    "806": 130,
                    "807": 119,
                    "808": 205,
                    "809": 111,
                    "810": 217,
                    "811": 45,
                    "812": 247,
                    "813": 220,
                    "814": 229,
                    "815": 219,
                    "816": 19,
                    "817": 117,
                    "818": 47,
                    "819": 229,
                    "820": 140,
                    "821": 214,
                    "822": 50,
                    "823": 182,
                    "824": 41,
                    "825": 98,
                    "826": 167,
                    "827": 43,
                    "828": 175,
                    "829": 86,
                    "830": 150,
                    "831": 105,
                    "832": 154,
                    "833": 72,
                    "834": 227,
                    "835": 45,
                    "836": 41,
                    "837": 148,
                    "838": 53,
                    "839": 86,
                    "840": 137,
                    "841": 157,
                    "842": 204,
                    "843": 136,
                    "844": 73,
                    "845": 72,
                    "846": 215,
                    "847": 94,
                    "848": 180,
                    "849": 10,
                    "850": 23,
                    "851": 114,
                    "852": 7,
                    "853": 189,
                    "854": 117,
                    "855": 156,
                    "856": 118,
                    "857": 38,
                    "858": 180,
                    "859": 131,
                    "860": 180,
                    "861": 226,
                    "862": 58,
                    "863": 94,
                    "864": 54,
                    "865": 182,
                    "866": 75,
                    "867": 45,
                    "868": 10,
                    "869": 123,
                    "870": 178,
                    "871": 30,
                    "872": 184,
                    "873": 98,
                    "874": 181,
                    "875": 117,
                    "876": 14,
                    "877": 136,
                    "878": 105,
                    "879": 29,
                    "880": 23,
                    "881": 205,
                    "882": 188,
                    "883": 130,
                    "884": 135,
                    "885": 211,
                    "886": 18,
                    "887": 126,
                    "888": 141,
                    "889": 253,
                    "890": 26,
                    "891": 15,
                    "892": 99,
                    "893": 49,
                    "894": 152,
                    "895": 252,
                    "896": 126,
                    "897": 82,
                    "898": 92,
                    "899": 253,
                    "900": 31,
                    "901": 227,
                    "902": 188,
                    "903": 94,
                    "904": 55,
                    "905": 53,
                    "906": 151,
                    "907": 143,
                    "908": 219,
                    "909": 110,
                    "910": 100,
                    "911": 21,
                    "912": 227,
                    "913": 185,
                    "914": 32,
                    "915": 62,
                    "916": 30,
                    "917": 193,
                    "918": 44,
                    "919": 136,
                    "920": 9,
                    "921": 114,
                    "922": 164,
                    "923": 39,
                    "924": 151,
                    "925": 232,
                    "926": 143,
                    "927": 139,
                    "928": 162,
                    "929": 218,
                    "930": 28,
                    "931": 9,
                    "932": 238,
                    "933": 177,
                    "934": 60,
                    "935": 246,
                    "936": 122,
                    "937": 222,
                    "938": 38,
                    "939": 205,
                    "940": 171,
                    "941": 237,
                    "942": 122,
                    "943": 105,
                    "944": 104,
                    "945": 192,
                    "946": 242,
                    "947": 90,
                    "948": 104,
                    "949": 12,
                    "950": 38,
                    "951": 118,
                    "952": 49,
                    "953": 169,
                    "954": 50,
                    "955": 24,
                    "956": 202,
                    "957": 169,
                    "958": 66,
                    "959": 199,
                    "960": 239,
                    "961": 143,
                    "962": 136,
                    "963": 214,
                    "964": 245,
                    "965": 161,
                    "966": 173,
                    "967": 112,
                    "968": 230,
                    "969": 109,
                    "970": 59,
                    "971": 31,
                    "972": 219,
                    "973": 169,
                    "974": 5,
                    "975": 175,
                    "976": 91,
                    "977": 199,
                    "978": 238,
                    "979": 141,
                    "980": 100,
                    "981": 240,
                    "982": 116,
                    "983": 101,
                    "984": 101,
                    "985": 216,
                    "986": 222,
                    "987": 136,
                    "988": 96,
                    "989": 8,
                    "990": 63,
                    "991": 225,
                    "992": 0,
                    "993": 255,
                    "994": 0,
                    "995": 208,
                    "996": 56,
                    "997": 112,
                    "998": 42,
                    "999": 93,
                    "1000": 103,
                    "1001": 180,
                    "1002": 224,
                    "1003": 79,
                    "1004": 94,
                    "1005": 162,
                    "1006": 182,
                    "1007": 242,
                    "1008": 117,
                    "1009": 168,
                    "1010": 140,
                    "1011": 68,
                    "1012": 163,
                    "1013": 29,
                    "1014": 43,
                    "1015": 219,
                    "1016": 157,
                    "1017": 34,
                    "1018": 89,
                    "1019": 36,
                    "1020": 142,
                    "1021": 34,
                    "1022": 190,
                    "1023": 72,
                    "1024": 73,
                    "1025": 250,
                    "1026": 172,
                    "1027": 63,
                    "1028": 75,
                    "1029": 189,
                    "1030": 54,
                    "1031": 183,
                    "1032": 176,
                    "1033": 8,
                    "1034": 32,
                    "1035": 88,
                    "1036": 84,
                    "1037": 173,
                    "1038": 204,
                    "1039": 220,
                    "1040": 118,
                    "1041": 96,
                    "1042": 44,
                    "1043": 82,
                    "1044": 165,
                    "1045": 105,
                    "1046": 34,
                    "1047": 114,
                    "1048": 99,
                    "1049": 112,
                    "1050": 172,
                    "1051": 101,
                    "1052": 49,
                    "1053": 50,
                    "1054": 148,
                    "1055": 98,
                    "1056": 60,
                    "1057": 92,
                    "1058": 105,
                    "1059": 14,
                    "1060": 252,
                    "1061": 73,
                    "1062": 209,
                    "1063": 32,
                    "1064": 30,
                    "1065": 55,
                    "1066": 136,
                    "1067": 198,
                    "1068": 99,
                    "1069": 102,
                    "1070": 194,
                    "1071": 210,
                    "1072": 18,
                    "1073": 227,
                    "1074": 235,
                    "1075": 63,
                    "1076": 157,
                    "1077": 120,
                    "1078": 221,
                    "1079": 188,
                    "1080": 162,
                    "1081": 83,
                    "1082": 228,
                    "1083": 197,
                    "1084": 0,
                    "1085": 36,
                    "1086": 252,
                    "1087": 250,
                    "1088": 117,
                    "1089": 201,
                    "1090": 56,
                    "1091": 162,
                    "1092": 138,
                    "1093": 20,
                    "1094": 17,
                    "1095": 67,
                    "1096": 26,
                    "1097": 198,
                    "1098": 137,
                    "1099": 241,
                    "1100": 85,
                    "1101": 70,
                    "1102": 128,
                    "1103": 31,
                    "1104": 224,
                    "1105": 28,
                    "1106": 5,
                    "1107": 240,
                    "1108": 225,
                    "1109": 195,
                    "1110": 129,
                    "1111": 255,
                    "1112": 217
                  },
                  "contextInfo": {
                    "mentionedJid": [],
                    "groupMentions": [],
                    "statusAttributions": [],
                    "ephemeralSettingTimestamp": {
                      "low": 1766604171,
                      "high": 0,
                      "unsigned": false
                    },
                    "disappearingMode": {
                      "initiator": 0
                    }
                  },
                  "thumbnailHeight": 26,
                  "thumbnailWidth": 18,
                  "caption": "Crie uma tarefa para Érika estar ligando para o setor logístico da Deca e perguntar como está uma posição da entrega desse material"
                }
              },
              "messageType": "documentMessage",
              "messageTimestamp": 1766840723,
              "instanceId": "2b800946-7943-4761-b082-81c52abc8bf5",
              "source": "web"
            },
            "destination": "https://mdrepres-n8n.zcnijx.easypanel.host/webhook/evolution-mdrepres",
            "date_time": "2025-12-27T10:05:23.452Z",
            "sender": "558496351987@s.whatsapp.net",
            "server_url": "https://mdrepres-evolution-api.zcnijx.easypanel.host",
            "apikey": "1868D58EBE59-4BAA-9A2C-61D36334527A"
          },
          "webhookUrl": "https://mdrepres-n8n.zcnijx.easypanel.host/webhook/evolution-mdrepres",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organização de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização de dados": {
      "main": [
        [
          {
            "node": "Filtrar por números",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "mensagem texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem aúdio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem imagem": {
      "main": [
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem texto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Descrição final da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem aúdio": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Transcrição final do aúdio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem pdf": {
      "main": [
        [
          {
            "node": "Obter m dia em base65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Descrição final do pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por números": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Foi eu que enviei a msg?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Mensagens dos colaboradores",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Mensagens dos clientes",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Quebra de texto para JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode criar a tarefa?": {
      "main": [
        [
          {
            "node": "Msg resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg resposta": {
      "main": [
        [
          {
            "node": "Msg pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados para o bitrix": {
      "main": [
        [
          {
            "node": "Criação da task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização dos dados 2": {
      "main": [
        [
          {
            "node": "Dados para o bitrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg resposta1": {
      "main": [
        [
          {
            "node": "Organização dos dados 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base65": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chave block": {
      "main": [
        [
          {
            "node": "Mensagens dos colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mensagens dos clientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Mensagem final para o agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final para o agente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra de texto para JSON": {
      "main": [
        [
          {
            "node": "Pode criar a tarefa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi eu que enviei a msg?": {
      "main": [
        [
          {
            "node": "Chave block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descrição final da imagem": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcrição final do aúdio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Descrição final do pdf": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4300abd2-e9a0-4d7c-9a7a-efd3c357f8ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f30f2b26e437cf019b6432a1fdc8c53288fd3d876254e60e05ea866c7a298bc"
  },
  "id": "XCMwpgHSPUVYK5Uc",
  "tags": []
}