N8N - Criação de tasks do Wpp para o Bitrix 05-01-2026.json
{
  "name": "[MD] Criação de tasks do Wpp para o Bitrix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-mdrepres",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        -928
      ],
      "id": "bfadd0b7-99d9-4933-9917-ed5d73067a93",
      "name": "Webhook",
      "webhookId": "ee40db27-b328-4243-a1fa-fbcd7bec3655"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bbbfbea-9ee2-45c5-bcf0-5b08af961e18",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a00de284-45a2-40b1-8270-eb87b8bc9a33",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "0cd2a97a-52ad-443e-a4a0-0f6517632240",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "0e9ae63f-08d3-45ce-a5f1-534063f7cadb",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2d43a208-b2b5-4ac0-b96e-cc0beb88123f",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "95e069d5-95ea-4095-804d-384a2587962e",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "8ca51751-e655-410f-878a-883ee25e94a2",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        -928
      ],
      "id": "d29b99ba-49c4-4128-87de-c5a352251015",
      "name": "Organização de dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30cc8816-2ffc-4a0a-aef8-e88a9065f19f",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8491029054",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f2fed79f-2903-47fe-8f07-e8e5afd9350f",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8494032113",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ba431024-f466-4486-ac69-e7a3b992c9e2",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8494818515",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0d5a8cec-47c7-4bb5-a09b-5c22debc6d48",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "8498313072",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1280,
        -928
      ],
      "id": "3eebfa6a-4ea1-496c-ac9d-ac82a89f97f8",
      "name": "Filtrar por números"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80dc8245-80d9-4fbd-9502-e5bb8fc2c890"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad80787e-a96b-4cd4-8eb9-d8ed96a8a28b",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1f9ff31d-98b4-4925-ac6d-5892dd3d0a58",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aúdio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6ac0be1-1aa7-471d-bc32-1f4daaeaa8df",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9043ff0-af0a-4945-b675-1a805ee74c0e",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outros"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1056,
        -976
      ],
      "id": "51756d81-1b5c-4170-b610-bde2b73f29e5",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        -1056
      ],
      "id": "59f23ef0-d08b-42ae-865c-999ed99d9596",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15e6f85d-1478-493e-aa15-123f741e45bd",
              "name": "url imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.url }}",
              "type": "string"
            },
            {
              "id": "a027e0c8-225e-4313-9669-d2db5fa35a50",
              "name": "legenda imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -1120
      ],
      "id": "b4cd7770-7d60-4f00-8cf8-7e697744fd48",
      "name": "mensagem imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec288bbf-73fc-4a6e-a7f9-4deb7b12ed95",
              "name": "msg final",
              "value": "={{ $json.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -1312
      ],
      "id": "771406e3-aafc-4128-a82a-b61458eaf50c",
      "name": "mensagem texto"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=Analise a imagem e dê detalhes do que tem nela. Se o usuário enviar uma foto de algum produto, tente verificar se possui o nome dele na imagem. Se o usuário enviar uma relação de nomes de produtos para orçamento, analise e descreva bem cada item por categoria.\n\nO usuário que enviou a imagem disse junto: {{ $('mensagem imagem').item.json['legenda imagem'] }}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -1120
      ],
      "id": "bea8df2d-e112-4e27-a97c-fc0e2686e49d",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "355941df-932b-48d8-bee5-c0b7fc1ff374",
              "name": "arquivo aúdio",
              "value": "={{ $('Webhook').item.json.body.data.message.audioMessage.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -928
      ],
      "id": "d9618932-1225-46ab-bec5-a9c374e377d7",
      "name": "mensagem aúdio"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -928
      ],
      "id": "28e10108-74f4-457d-98d4-74c241158253",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "322ec29a-464b-4f6f-b10a-bd0f7a5d63d3",
              "name": "arquivo pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.url }}",
              "type": "string"
            },
            {
              "id": "43b042d4-223a-46d0-9ee5-7d37674148ee",
              "name": "título pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.title }}",
              "type": "string"
            },
            {
              "id": "30f05464-0e91-4921-8f91-5bc5e527d9b4",
              "name": "legenda pdf",
              "value": "={{ $('Webhook').item.json.body.data.message.documentMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -832,
        -736
      ],
      "id": "409b6560-a352-4126-a516-407a87d8be3b",
      "name": "mensagem pdf"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=Analise o pdf e dê detalhes do que tem nele. Se o usuário enviar uma foto de algum produto, tente verificar se possui o nome dele na imagem. Se o usuário enviar uma relação de nomes de produtos para orçamento, analise e descreva bem cada item por categoria.\n\nO arquivo possui o seguinte título: {{ $('mensagem pdf').item.json['título pdf'] }}\n\nO usuário que enviou a imagem disse junto na legenda: {{ $('mensagem pdf').item.json['legenda pdf'] }}",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -736
      ],
      "id": "b24b0afa-3e9c-4d3b-96b3-5613074e272e",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um Agente de IA responsável por interpretar mensagens enviadas por usuários no WhatsApp e determinar se já existem informações suficientes para criar uma tarefa no CRM Bitrix24 da empresa MD Representações.\n\nSua função é:\n\n1. Analisar todo o conteúdo recebido (texto, descrição de imagem/áudio/PDF e qualquer outro elemento consolidado no fluxo anterior).\n2. Identificar se todos os campos obrigatórios para criar uma tarefa estão disponíveis.\n3. Retornar UMA SAÍDA ESTRUTURADA EM JSON PURO quando todas as informações estiverem completas.\n4. Ou perguntar ao usuário pelas informações faltantes, seguindo o formato definido.\n\n--------------------------------------------------------------------------------\n🎯 CAMPOS OBRIGATÓRIOS PARA CRIAÇÃO DA TAREFA\n\nOs campos abaixo se dividem entre CONSTANTES e VARIÁVEIS:\n\n### 🟩 CAMPOS FIXOS (sempre iguais):\n- grupo: \"Tarefas-Gestão\"\n- observadores: [\"Alex\", \"Fabiola\", \"Igor\", \"Érika\"]\n\n### 🟦 CAMPOS VARIÁVEIS (precisam ser identificados na mensagem):\n- nome_da_tarefa:\n  Deve seguir o padrão: \"(Tipo da atividade) (Fábrica) - (Nome do Cliente)\"\n  Exemplo:\n  - Orçamento Quartzolit - Construtora ABC\n  - Compra Elizabeth - Loja XPTO\n\n- descricao:\n  Explicação textual do que deve ser feito. Pode vir da mensagem original ou da descrição gerada pela IA.\n\n- responsavel:\n  A pessoa indicada pelo usuário para executar a tarefa.\n\n- participantes:\n  Lista de outras pessoas mencionadas pelo usuário que atuarão junto.\n\n- criado_por: Deve ser {{ $('Organização de dados').item.json.pushName }},o qual enviou esta demanda, e nos casos em que esse nome for o de MD Representações, que no caso é o de uma empresa, você deve estar perguntando quem é que está solicitando a criação dessa tarefa, pois ele será o criador\n\n- fabrica: Deve ser a marca o qual corresponde a demanda enviada pelo usuário, que irão variar na maioria das vezes entre: Elizabeth, Eliane, Decortiles, Quartzolit, Deca, Nambei, Taschibra, Socelme, Pormade, Pado, Brasilit, Placo, Isover, Astra, Ralo linear, Hidracor e Iquine\n\n- prazo:\n  Regras:\n    - Se a mensagem foi enviada antes de 12h → prazo: hoje às 18:00\n    - Se enviada após 12h → prazo: próximo dia útil às 12:00\n  (O agente deve calcular automaticamente)\n\n--------------------------------------------------------------------------------\n🧠 LÓGICA DE DECISÃO E FORMATO DE SAÍDA (OBRIGATÓRIO)\n\n### ✔️ SE TODAS AS INFORMAÇÕES OBRIGATÓRIAS ESTIVEREM PRESENTES:\n\nVocê DEVE retornar **APENAS UM JSON VÁLIDO**, sem qualquer texto fora do JSON.\n\nFormato EXATO da resposta:\n\n{\n  \"pode_criar\": true,\n  \"mensagem_usuario\": \"Obrigado por todas as informações, sua tarefa será criada!\",\n  \"dados_tarefa\": {\n    \"grupo\": \"Tarefas-Gestão\",\n    \"criado_por\": \"Alex\",\n    \"observadores\": [\"Alex\", \"Fabiola\", \"Igor\", \"Érika\"],\n    \"nome_da_tarefa\": \"\",\n    \"descricao\": \"\",\n    \"responsavel\": \"\",\n    \"participantes\": [],\n    \"fabrica\": \"\",\n    \"prazo\": \"\"\n  }\n}\n\n--------------------------------------------------------------------------------\n❌ SE FALTAR QUALQUER INFORMAÇÃO:\n\nVocê DEVE retornar **APENAS UM JSON VÁLIDO**, sem qualquer texto fora do JSON.\n\nFormato EXATO da resposta:\n\n{\n  \"pode_criar\": false,\n  \"mensagem_usuario\": \"Ainda faltam algumas informações, não consigo criar a sua tarefa por enquanto.\",\n  \"faltando\": [],\n  \"pergunta\": \"\"\n}\n\nOnde:\n- \"faltando\" deve conter uma lista objetiva dos campos ausentes.\n- \"pergunta\" deve conter uma pergunta clara e direta ao usuário.\n\n--------------------------------------------------------------------------------\n📌 REGRAS IMPORTANTES\n\n- Nunca invente dados.\n- Sempre pergunte qual é a fábrica o qual corresponde a solicitação enviada pelo usuário\n- Só use informações realmente encontradas na mensagem.\n- Caso o usuário mencione nomes, considere-os como possíveis responsáveis ou participantes.\n- Se a descrição vier de imagem/áudio/pdf, use-a normalmente.\n- O output deve ser SEMPRE JSON PURO, válido e parseável.\n- Nunca escreva texto fora do JSON.\n- Se houver ambiguidade, pergunte.\n\n--------------------------------------------------------------------------------\nAgora siga sempre essa lógica e responda de acordo com o conteúdo recebido.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2784,
        -784
      ],
      "id": "075efd51-4eeb-4c69-b54d-4735112bbb57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        -560
      ],
      "id": "4d7eeb70-3fdf-4122-a18a-69899891b982",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aViGL4rDfar5T7E1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Organização de dados').item.json.remoteJid }}",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1040,
        -1056
      ],
      "id": "c7951be6-b1ef-41a1-9e37-2bfd8320c8c5",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "=Olá {{ $('Organização de dados').item.json.pushName }}! Tudo bem? Não consigo ler esse tipo de arquivo, por favor enviar novamente.",
        "options_message": {
          "delay": 3000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -832,
        -544
      ],
      "id": "409afcda-a91a-49b7-a73c-f89c1e519026",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.pode_criar }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "02cbed15-6932-4f2e-8c5e-5fb91e0775f2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4401edb1-1ea3-44d7-8d5f-8be74e163506",
                    "leftValue": "={{ $json.pode_criar }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sim"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3360,
        -784
      ],
      "id": "37522342-9d3c-49f2-b2e5-aa1411cbf897",
      "name": "Pode criar a tarefa?"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $json.dados.mensagem_usuario }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3584,
        -896
      ],
      "id": "395af14a-8600-4e67-bed9-128551f291be",
      "name": "Msg resposta",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $('Pode criar a tarefa?').item.json.dados.pergunta }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3808,
        -896
      ],
      "id": "427f3f8d-f4c2-44f2-8193-fa690a1b52f2",
      "name": "Msg pergunta",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "remoteJid": "={{ $('Organização de dados').item.json.remoteJid }}",
        "messageText": "={{ $json.dados.mensagem_usuario }}",
        "options_message": {
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3584,
        -672
      ],
      "id": "2ac03ad8-6d56-4a3e-b29c-0cfd7aab2d27",
      "name": "Msg resposta1",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        -928
      ],
      "id": "96028fad-e483-4ee0-9487-3f20c7d7215b",
      "name": "Obter m dia em base64",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        -928
      ],
      "id": "13861296-0b0e-4116-ab9b-7119b018c47e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        -1120
      ],
      "id": "a3d51d17-f14e-46cb-a77c-179bfe85c7c1",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        -1120
      ],
      "id": "c41ddcff-23a7-47b8-be3c-a46a70506a11",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        -736
      ],
      "id": "419a0c3c-e64a-4d77-ad4a-f2e2ee4927d8",
      "name": "Obter m dia em base65",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -384,
        -736
      ],
      "id": "c745f5f5-ebc7-4900-b784-bc7a4c1d56e2",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} block",
        "value": "true",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        -1168
      ],
      "id": "9d130d7a-49c3-4257-83d9-6ee75ccc4e66",
      "name": "Chave block",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "isBlocked",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} block",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        -880
      ],
      "id": "02a41078-92f5-45f4-9f94-b084b0d50dc6",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "db8bacb1-7efb-46ff-a5ad-3395f21259cd",
              "leftValue": "={{ $json.isBlocked }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -880
      ],
      "id": "edd6b16e-f347-4a93-80e2-46fdab1ca89a",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $('Merge').item.json['msg final'] }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        960,
        -1280
      ],
      "id": "1e847a94-ceb9-479e-8bed-6f05a8ce6742",
      "name": "Mensagens dos colaboradores"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('Merge').item.json['msg final'] }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1312,
        -976
      ],
      "id": "df1c28cf-0f3e-4d07-8b80-4bcd9db2a88a",
      "name": "Mensagens dos clientes"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp",
        "messageData": "={{ $('Merge').item.json['msg final'] }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1376,
        -784
      ],
      "id": "b3b6790c-372b-4633-9a9d-6dc6238469c6",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        -784
      ],
      "id": "09c8dc08-2b16-4164-9a63-1b0322ee871f",
      "name": "Wait",
      "webhookId": "125437a3-6190-4850-9546-e0d77d776ef8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1888,
        -784
      ],
      "id": "001e29ed-8876-47d5-90e6-2d938d8be948",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89969736-9d78-4448-b856-7fc0783961e1",
              "leftValue": "={{ $json.messages.last() }}",
              "rightValue": "={{ $('Merge').item.json['msg final'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2112,
        -784
      ],
      "id": "5723af42-f0c6-4c30-84f5-06f6c632c708",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organização de dados').item.json.instance }} {{ $('Organização de dados').item.json.remoteJid }} temp"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2336,
        -784
      ],
      "id": "ae3ec62c-a1d4-4526-a6cf-1f992fa742f3",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "bOWpTSwKKBnkxhve",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49411f57-358b-4f95-8a48-5a8fac6bf124",
              "name": "message",
              "value": "={{ $('Redis2').item.json.messages.join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -784
      ],
      "id": "ab173db8-9e65-4699-8ee1-2568ea476177",
      "name": "Mensagem final para o agente"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) - Run Once for All Items\n\nfunction proximoDiaUtil(dateObj) {\n  // dateObj é um Date (com hora ignorada)\n  // 0=dom, 6=sab\n  while (dateObj.getDay() === 0 || dateObj.getDay() === 6) {\n    dateObj.setDate(dateObj.getDate() + 1);\n  }\n  return dateObj;\n}\n\nfunction calcularPrazo(now) {\n  const due = new Date(now);\n\n  // antes de 12:00 -> hoje 18:00\n  if (now.getHours() < 12) {\n    due.setHours(18, 0, 0, 0);\n    return due.toISOString();\n  }\n\n  // após 12:00 -> próximo dia útil 12:00\n  const next = new Date(now);\n  next.setDate(next.getDate() + 1);\n  next.setHours(0, 0, 0, 0);\n\n  proximoDiaUtil(next);\n  next.setHours(12, 0, 0, 0);\n\n  return next.toISOString();\n}\n\nfunction limparTexto(rawText) {\n  // Remove ```json, ``` e também um \"json\" solto no início\n  let cleaned = String(rawText);\n\n  cleaned = cleaned.replace(/```(?:json)?/gi, \"\").replace(/```/g, \"\");\n  cleaned = cleaned.trim();\n  cleaned = cleaned.replace(/^\\s*json\\s*/i, \"\").trim();\n\n  return cleaned;\n}\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  const rawText = item.json?.output ?? \"\";\n\n  if (!rawText) {\n    out.push({\n      json: { ok: false, error: \"Campo 'output' vazio\", raw: item.json },\n    });\n    continue;\n  }\n\n  const cleaned = limparTexto(rawText);\n\n  try {\n    const parsed = JSON.parse(cleaned);\n\n    // Só calcula prazo quando pode_criar = true e prazo vazio\n    if (Boolean(parsed?.pode_criar)) {\n      const prazo = parsed?.prazo;\n      const prazoVazio =\n        prazo === null ||\n        prazo === undefined ||\n        (typeof prazo === \"string\" && prazo.trim() === \"\");\n\n      if (prazoVazio) {\n        parsed.prazo = calcularPrazo(new Date());\n      }\n    }\n\n    out.push({\n      json: {\n        ok: true,\n        pode_criar: Boolean(parsed?.pode_criar ?? false),\n        dados: parsed,\n      },\n    });\n  } catch (e) {\n    out.push({\n      json: { ok: false, error: String(e?.message ?? e), raw_text: rawText },\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        -784
      ],
      "id": "837ade59-3951-4b16-b9df-f4ba346743d8",
      "name": "Quebra de texto para JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e05242e6-f6a6-44da-b6e4-d419146a4709",
              "leftValue": "={{ $('Organização de dados').item.json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -1024
      ],
      "id": "5e4588d7-0a1d-452a-933a-d59953ea8542",
      "name": "Foi eu que enviei a msg?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12e38dd9-e9a3-4113-bf3a-83ff7c2aa22c",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -1120
      ],
      "id": "81b36131-0665-41a8-a941-2896cedfe5b9",
      "name": "Descrição final da imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46c60aef-6b98-41db-8e0b-cc10b71e26ff",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -928
      ],
      "id": "4222b049-8f76-4cac-9e3d-35c5f39fd691",
      "name": "Transcrição final do aúdio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ba50bce-8220-4cef-b352-278f52180cb8",
              "name": "msg final",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -736
      ],
      "id": "5bc3138e-2e17-477f-b73c-e9196c63d019",
      "name": "Descrição final do pdf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/jjbltzqkihxgot8n/tasks.task.add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields[TITLE]",
              "value": "={{ $json['Nome da tarefa'] }}"
            },
            {
              "name": "fields[DESCRIPTION]",
              "value": "={{ $json['Descrição da tarefa'] }}"
            },
            {
              "name": "fields[RESPONSIBLE_ID]",
              "value": "={{ $json['Responsável'] }}"
            },
            {
              "name": "fields[GROUP_ID]",
              "value": "={{ $json.Grupo }}"
            },
            {
              "name": "fields[CREATED_BY]",
              "value": "={{ $json['Criado por'] }}"
            },
            {
              "name": "fields[ACCOMPLICES]",
              "value": "={{ $json.Participantes }}"
            },
            {
              "name": "fields[AUDITORS]",
              "value": "={{ $json.Observadores }}"
            },
            {
              "name": "fields[DEADLINE]",
              "value": "={{ $json.Prazo }}"
            },
            {
              "name": "fields[UF_TASK_WEBDAV_FILES][]",
              "value": "={{ $json['ID imagem'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6048,
        -864
      ],
      "id": "d1edbbf6-4573-40c7-80b3-1a65713c7e4e",
      "name": "Criação da task1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5187a99e-f718-4cbf-9d64-cc30e1283593",
              "name": "Nome da tarefa",
              "value": "={{ $('Organização dos dados 3').item.json['Nome da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "14291dfb-26ac-4958-95ff-ff28053355a9",
              "name": "Descrição da tarefa",
              "value": "={{ $('Organização dos dados 3').item.json['Descrição da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "58e38328-7762-4fc4-b75c-e4a8c276c3c3",
              "name": "Grupo",
              "value": 11,
              "type": "number"
            },
            {
              "id": "f0771fca-d4e6-4577-8f1c-834c12d4e293",
              "name": "Criado por",
              "value": "={{ $json.mapa_usuarios?.[$json[\"Criado por\"]] ?? $json.mapa_usuarios?.[($json[\"Criado por\"] || \"\").normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\")] }}",
              "type": "string"
            },
            {
              "id": "844024f7-93ad-4da0-bb17-737c86139a3a",
              "name": "Responsável",
              "value": "={{ $json.mapa_usuarios[$json['Responsável']] }}",
              "type": "number"
            },
            {
              "id": "55a6a090-02fc-40ab-8565-56f5ba3f5345",
              "name": "Participantes",
              "value": "={{ JSON.parse(JSON.stringify($json.Participantes.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "be8c15e3-54bb-4454-a3f3-df90b524a903",
              "name": "Observadores",
              "value": "={{ JSON.parse(JSON.stringify($json.Observadores.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "1b80080c-a909-41a5-8961-ca785e6732e6",
              "name": "Prazo",
              "value": "={{ $json.Prazo }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        -480
      ],
      "id": "93a16d40-3c66-486d-8c65-0ff5b90f04fa",
      "name": "Dados para o bitrix2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fb09419-dc74-41d8-9696-726d6c29988b",
              "name": "mapa_usuarios",
              "value": "{\n  \"Lucas\": 1621,\n  \"Margley\": 8737,\n  \"Yulle\": 8739,\n  \"Pricila\": 8741,\n  \"Érika\": 8743,\n  \"João\": 11251,\n  \"Fabiola\": 17,\n  \"Alex\": 1,\n  \"Alex - MD Representacoes Ltda\": 1,\n  \"Igor\": 15,\n  \"José\": 8731,\n  \"Jose\": 8731,\n  \"José Artur Oliveira\": 8731,\n  \"Jose Artur Oliveira\": 8731,\n  \"Daniel\": 10695\n}\n",
              "type": "object"
            },
            {
              "id": "aeaa225a-4d4d-472c-aac5-b181baad36d0",
              "name": "Nome da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.nome_da_tarefa }}",
              "type": "string"
            },
            {
              "id": "7eddf10e-20f6-4ecc-83c7-5d6363a5b339",
              "name": "Descrição da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.descricao }}",
              "type": "string"
            },
            {
              "id": "a766672f-8868-44bc-8814-f568863b79fd",
              "name": "Grupo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.grupo }}",
              "type": "string"
            },
            {
              "id": "d04959f2-27d1-4411-9614-58e9c31dd56c",
              "name": "Criado por",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.criado_por }}",
              "type": "string"
            },
            {
              "id": "2b4ec8bd-27c7-44fd-b180-9c9e01af5fe1",
              "name": "Responsável",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.responsavel }}",
              "type": "string"
            },
            {
              "id": "bad84035-35c5-47b4-9963-8f5b2c3ac71e",
              "name": "Participantes",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.participantes }}",
              "type": "array"
            },
            {
              "id": "50a13735-6ea8-48cc-9d1a-0bbeb20888af",
              "name": "Observadores",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.observadores }}",
              "type": "array"
            },
            {
              "id": "b4f4da90-6ccd-4d4e-af78-688e7a2ca735",
              "name": "Prazo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.prazo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        -480
      ],
      "id": "33e48b94-066d-4081-8d66-f4147024a483",
      "name": "Organização dos dados 3",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/jjbltzqkihxgot8n/tasks.task.add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields[TITLE]",
              "value": "={{ $json['Nome da tarefa'] }}"
            },
            {
              "name": "fields[DESCRIPTION]",
              "value": "={{ $json['Descrição da tarefa'] }}"
            },
            {
              "name": "fields[RESPONSIBLE_ID]",
              "value": "={{ $json['Responsável'] }}"
            },
            {
              "name": "fields[GROUP_ID]",
              "value": "={{ $json.Grupo }}"
            },
            {
              "name": "fields[ACCOMPLICES]",
              "value": "={{ $json.Participantes }}"
            },
            {
              "name": "fields[AUDITORS]",
              "value": "={{ $json.Observadores }}"
            },
            {
              "name": "fields[DEADLINE]",
              "value": "={{ $json.Prazo }}"
            },
            {
              "name": "fields[CREATED_BY]",
              "value": "={{ $json['Criado por'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4480,
        -480
      ],
      "id": "a8e1ff97-9fd7-4a30-acc2-dab0bc49b7ef",
      "name": "Criação da task2"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4032,
        -864
      ],
      "id": "fd493fb6-7c6d-4660-a152-8d54b2d8331b",
      "name": "Obter m dia em base2",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4256,
        -864
      ],
      "id": "1dd023a2-64d6-439f-8d6e-5e112b9e3ca7",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4704,
        -864
      ],
      "id": "fb98df6e-4124-4438-9d18-e244b4394fcf",
      "name": "Obter m dia em base3",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4928,
        -864
      ],
      "id": "ef663d53-4f62-4c69-b595-9c90c4bdfb71",
      "name": "Convert to File5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/9kfczz5gzrzvdec5/disk.folder.uploadfile.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "822593"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=file",
              "value": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4480,
        -864
      ],
      "id": "fb5beb50-d483-46ce-86ad-0786a674cc3b",
      "name": "Transforma a imagem em url do bitrix1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Transforma a imagem em url do bitrix1').item.json.result.uploadUrl }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5376,
        -864
      ],
      "id": "fa7cc7e4-94ef-47cd-9d48-fd228e3c98aa",
      "name": "Envia a imagem para o drive do bitrix1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5187a99e-f718-4cbf-9d64-cc30e1283593",
              "name": "Nome da tarefa",
              "value": "={{ $('Organização dos dados 1').item.json['Nome da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "14291dfb-26ac-4958-95ff-ff28053355a9",
              "name": "Descrição da tarefa",
              "value": "={{ $('Organização dos dados 1').item.json['Descrição da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "58e38328-7762-4fc4-b75c-e4a8c276c3c3",
              "name": "Grupo",
              "value": 11,
              "type": "number"
            },
            {
              "id": "f0771fca-d4e6-4577-8f1c-834c12d4e293",
              "name": "Criado por",
              "value": "={{ $json.mapa_usuarios?.[$json[\"Criado por\"]] ?? $json.mapa_usuarios?.[($json[\"Criado por\"] || \"\").normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\")] }}",
              "type": "string"
            },
            {
              "id": "844024f7-93ad-4da0-bb17-737c86139a3a",
              "name": "Responsável",
              "value": "={{ $json.mapa_usuarios?.[$json[\"Responsável\"]] ?? $json.mapa_usuarios?.[($json[\"Responsável\"] || \"\").normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\")] }}",
              "type": "string"
            },
            {
              "id": "55a6a090-02fc-40ab-8565-56f5ba3f5345",
              "name": "Participantes",
              "value": "={{ JSON.parse(JSON.stringify($json.Participantes.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "be8c15e3-54bb-4454-a3f3-df90b524a903",
              "name": "Observadores",
              "value": "={{ JSON.parse(JSON.stringify($json.Observadores.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "1b80080c-a909-41a5-8961-ca785e6732e6",
              "name": "Prazo",
              "value": "={{ $json.Prazo }}",
              "type": "string"
            },
            {
              "id": "fe7c02db-efd4-438a-9cc4-be07881bb9e6",
              "name": "ID imagem",
              "value": "={{ 'n' + $json['ID imagem'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5824,
        -864
      ],
      "id": "f112f158-08b5-4d26-9ded-d92f93dee543",
      "name": "Dados para o bitrix3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fb09419-dc74-41d8-9696-726d6c29988b",
              "name": "mapa_usuarios",
              "value": "{\n  \"Lucas\": 1621,\n  \"Margley\": 8737,\n  \"Yulle\": 8739,\n  \"Pricila\": 8741,\n  \"Érika\": 8743,\n  \"João\": 11251,\n  \"Fabiola\": 17,\n  \"Alex\": 1,\n  \"Alex - MD Representacoes Ltda\": 1,\n  \"Igor\": 15,\n  \"José\": 8731,\n  \"Jose\": 8731,\n  \"José Artur Oliveira\": 8731,\n  \"Jose Artur Oliveira\": 8731,\n  \"Daniel\": 10695\n}",
              "type": "object"
            },
            {
              "id": "aeaa225a-4d4d-472c-aac5-b181baad36d0",
              "name": "Nome da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.nome_da_tarefa }}",
              "type": "string"
            },
            {
              "id": "7eddf10e-20f6-4ecc-83c7-5d6363a5b339",
              "name": "Descrição da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.descricao }}",
              "type": "string"
            },
            {
              "id": "a766672f-8868-44bc-8814-f568863b79fd",
              "name": "Grupo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.grupo }}",
              "type": "string"
            },
            {
              "id": "d04959f2-27d1-4411-9614-58e9c31dd56c",
              "name": "Criado por",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.criado_por }}",
              "type": "string"
            },
            {
              "id": "2b4ec8bd-27c7-44fd-b180-9c9e01af5fe1",
              "name": "Responsável",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.responsavel }}",
              "type": "string"
            },
            {
              "id": "bad84035-35c5-47b4-9963-8f5b2c3ac71e",
              "name": "Participantes",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.participantes }}",
              "type": "array"
            },
            {
              "id": "50a13735-6ea8-48cc-9d1a-0bbeb20888af",
              "name": "Observadores",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.observadores }}",
              "type": "array"
            },
            {
              "id": "b4f4da90-6ccd-4d4e-af78-688e7a2ca735",
              "name": "Prazo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.prazo }}",
              "type": "string"
            },
            {
              "id": "05cfa2e9-2588-49b9-b729-b204ba4f3d9a",
              "name": "ID imagem",
              "value": "={{ $json.result.ID }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5600,
        -864
      ],
      "id": "bc4f0368-a1d8-4be7-8404-cf3a1b7cbc90",
      "name": "Organização dos dados 1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtrar por números').item.json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "52b05a63-06bc-4481-8807-e096da8f507f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a1313ce-2c69-47fd-9d4a-394cebb377b7",
                    "leftValue": "={{ $('Filtrar por números').item.json.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9eaa53d4-8347-4942-af3a-eafbdf3bf498",
                    "leftValue": "={{ $('Filtrar por números').item.json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "65e8da4a-66b4-4aa5-abd4-9cbf9e455290",
                    "leftValue": "={{ $('Filtrar por números').item.json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3808,
        -704
      ],
      "id": "c4fd6e5c-b14e-4050-b4fe-36c7a6c2cbb9",
      "name": "A mensagem contém qual tipo de arquivo?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/jjbltzqkihxgot8n/tasks.task.add",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields[TITLE]",
              "value": "={{ $json['Nome da tarefa'] }}"
            },
            {
              "name": "fields[DESCRIPTION]",
              "value": "={{ $json['Descrição da tarefa'] }}"
            },
            {
              "name": "fields[RESPONSIBLE_ID]",
              "value": "={{ $json['Responsável'] }}"
            },
            {
              "name": "fields[GROUP_ID]",
              "value": "={{ $json.Grupo }}"
            },
            {
              "name": "fields[CREATED_BY]",
              "value": "={{ $json['Criado por'] }}"
            },
            {
              "name": "fields[ACCOMPLICES]",
              "value": "={{ $json.Participantes }}"
            },
            {
              "name": "fields[AUDITORS]",
              "value": "={{ $json.Observadores }}"
            },
            {
              "name": "fields[DEADLINE]",
              "value": "={{ $json.Prazo }}"
            },
            {
              "name": "fields[UF_TASK_WEBDAV_FILES][]",
              "value": "={{ $json['ID imagem'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6048,
        -672
      ],
      "id": "18c0b14f-1f82-4b4b-be20-cd95923bfb52",
      "name": "Criação da task"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4032,
        -672
      ],
      "id": "0d994c2d-5844-46a0-a2e4-f4c47a68fbe2",
      "name": "Obter m dia em base4",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4256,
        -672
      ],
      "id": "17291a86-d13c-4b53-a195-5def2228f27a",
      "name": "Convert to File6"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Organização de dados').item.json.instance }}",
        "messageId": "={{ $('Organização de dados').item.json.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4704,
        -672
      ],
      "id": "42b39885-5f22-4d26-a452-2a4dba2f0bd0",
      "name": "Obter m dia em base5",
      "credentials": {
        "evolutionApi": {
          "id": "fNiaD6tQMDIfFJsD",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4928,
        -672
      ],
      "id": "c0aec84d-bb74-4d7d-8c84-edac2f2d535e",
      "name": "Convert to File7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5187a99e-f718-4cbf-9d64-cc30e1283593",
              "name": "Nome da tarefa",
              "value": "={{ $('Organização dos dados ').item.json['Nome da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "14291dfb-26ac-4958-95ff-ff28053355a9",
              "name": "Descrição da tarefa",
              "value": "={{ $('Organização dos dados ').item.json['Descrição da tarefa'] }}",
              "type": "string"
            },
            {
              "id": "58e38328-7762-4fc4-b75c-e4a8c276c3c3",
              "name": "Grupo",
              "value": 11,
              "type": "number"
            },
            {
              "id": "f0771fca-d4e6-4577-8f1c-834c12d4e293",
              "name": "Criado por",
              "value": "={{ $json.mapa_usuarios?.[$json[\"Criado por\"]] ?? $json.mapa_usuarios?.[($json[\"Criado por\"] || \"\").normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\")] }}",
              "type": "string"
            },
            {
              "id": "844024f7-93ad-4da0-bb17-737c86139a3a",
              "name": "Responsável",
              "value": "={{ $json.mapa_usuarios?.[$json[\"Responsável\"]] ?? $json.mapa_usuarios?.[($json[\"Responsável\"] || \"\").normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g,\"\")] }}",
              "type": "string"
            },
            {
              "id": "55a6a090-02fc-40ab-8565-56f5ba3f5345",
              "name": "Participantes",
              "value": "={{ JSON.parse(JSON.stringify($json.Participantes.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "be8c15e3-54bb-4454-a3f3-df90b524a903",
              "name": "Observadores",
              "value": "={{ JSON.parse(JSON.stringify($json.Observadores.map(nome => $json.mapa_usuarios[nome]).filter(id => id))) }}",
              "type": "array"
            },
            {
              "id": "1b80080c-a909-41a5-8961-ca785e6732e6",
              "name": "Prazo",
              "value": "={{ $json.Prazo }}",
              "type": "string"
            },
            {
              "id": "fe7c02db-efd4-438a-9cc4-be07881bb9e6",
              "name": "ID imagem",
              "value": "={{ 'n' + $json['ID imagem'] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5824,
        -672
      ],
      "id": "bcef6c53-027b-4881-822a-eaaaf8019af3",
      "name": "Dados para o bitrix"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fb09419-dc74-41d8-9696-726d6c29988b",
              "name": "mapa_usuarios",
              "value": "{\n  \"Lucas\": 1621,\n  \"Margley\": 8737,\n  \"Yulle\": 8739,\n  \"Pricila\": 8741,\n  \"Érika\": 8743,\n  \"João\": 11251,\n  \"Fabiola\": 17,\n  \"Alex\": 1,\n  \"Alex - MD Representacoes Ltda\": 1,\n  \"Igor\": 15,\n  \"José\": 8731,\n  \"Jose\": 8731,\n  \"José Artur Oliveira\": 8731,\n  \"Jose Artur Oliveira\": 8731,\n  \"Daniel\": 10695\n}\n",
              "type": "object"
            },
            {
              "id": "aeaa225a-4d4d-472c-aac5-b181baad36d0",
              "name": "Nome da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.nome_da_tarefa }}",
              "type": "string"
            },
            {
              "id": "7eddf10e-20f6-4ecc-83c7-5d6363a5b339",
              "name": "Descrição da tarefa",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.descricao }}",
              "type": "string"
            },
            {
              "id": "a766672f-8868-44bc-8814-f568863b79fd",
              "name": "Grupo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.grupo }}",
              "type": "string"
            },
            {
              "id": "d04959f2-27d1-4411-9614-58e9c31dd56c",
              "name": "Criado por",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.criado_por }}",
              "type": "string"
            },
            {
              "id": "2b4ec8bd-27c7-44fd-b180-9c9e01af5fe1",
              "name": "Responsável",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.responsavel }}",
              "type": "string"
            },
            {
              "id": "bad84035-35c5-47b4-9963-8f5b2c3ac71e",
              "name": "Participantes",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.participantes }}",
              "type": "array"
            },
            {
              "id": "50a13735-6ea8-48cc-9d1a-0bbeb20888af",
              "name": "Observadores",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.dados_tarefa.observadores }}",
              "type": "array"
            },
            {
              "id": "b4f4da90-6ccd-4d4e-af78-688e7a2ca735",
              "name": "Prazo",
              "value": "={{ $('Pode criar a tarefa?').item.json.dados.prazo }}",
              "type": "string"
            },
            {
              "id": "05cfa2e9-2588-49b9-b729-b204ba4f3d9a",
              "name": "ID imagem",
              "value": "={{ $json.result.ID }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5600,
        -672
      ],
      "id": "00976c7b-46c9-4cef-bede-e00deacf3153",
      "name": "Organização dos dados ",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mdrepresentacoes.bitrix24.com.br/rest/1621/9kfczz5gzrzvdec5/disk.folder.uploadfile.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "822593"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=file",
              "value": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4480,
        -672
      ],
      "id": "5cb7ed49-5f81-402e-ad95-3e1e0949a1e5",
      "name": "Transforma o pdf em url do bitrix"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Transforma o pdf em url do bitrix').item.json.result.uploadUrl }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5376,
        -672
      ],
      "id": "152b86e8-7c82-410e-b125-b6fba15481ba",
      "name": "Envia o pdf para o drive do bitrix"
    },
    {
      "parameters": {
        "jsCode": "const BIN_FIELD = 'data';\n\n// 1) Pega os 2 campos do node \"Pode criar a tarefa?\"\nconst nomeDaTarefa =\n  $(\"Pode criar a tarefa?\").item.json?.dados?.dados_tarefa?.nome_da_tarefa ?? \"sem_titulo\";\n\nconst prazoIso =\n  $(\"Pode criar a tarefa?\").item.json?.dados?.prazo ?? \"sem_prazo\";\n\n// 2) Converte ISO -> YYYY-MM-DD\nfunction formatPrazo(p) {\n  if (!p || typeof p !== \"string\") return \"sem_prazo\";\n  // Ex.: \"2025-12-31T12:00:00.000Z\" -> \"2025-12-31\"\n  const datePart = p.split(\"T\")[0];\n  return datePart || \"sem_prazo\";\n}\n\nconst prazo = formatPrazo(prazoIso);\n\n// 3) Sanitiza pra virar nome de arquivo seguro (Windows/Bitrix)\nfunction sanitizeFilename(str) {\n  return String(str)\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[\\/\\\\:\\*\\?\"<>\\|\\r\\n]+/g, \"_\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .replace(/\\s/g, \"_\");\n}\n\n// 4) Descobre extensão a partir do mimeType do binário\nfunction inferExt(bin) {\n  const mime = (bin?.mimeType || \"\").toLowerCase();\n  if (mime.includes(\"jpeg\")) return \"jpg\";\n  if (mime.includes(\"png\")) return \"png\";\n  if (mime.includes(\"pdf\")) return \"pdf\";\n\n  const fromFileName = (bin?.fileName || \"\").split(\".\").pop();\n  if (fromFileName && fromFileName.length <= 5) return fromFileName.toLowerCase();\n\n  const fromFileExt = (bin?.fileExtension || \"\");\n  if (fromFileExt) return String(fromFileExt).toLowerCase();\n\n  return \"bin\";\n}\n\n// 5) Nome final: titulo__YYYY-MM-DD.ext\nconst base = `${nomeDaTarefa}__${prazo}`;\nlet safeBase = sanitizeFilename(base);\n\n// opcional: limita tamanho\nif (safeBase.length > 140) safeBase = safeBase.slice(0, 140);\n\nreturn items.map(item => {\n  if (!item.binary || !item.binary[BIN_FIELD]) return item;\n\n  const bin = item.binary[BIN_FIELD];\n  const ext = inferExt(bin);\n\n  bin.fileName = `${safeBase}.${ext}`;\n  bin.fileExtension = ext;\n\n  item.binary[BIN_FIELD] = bin;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        -864
      ],
      "id": "eac8a701-6e1f-437c-aa9b-10adc0f9fb54",
      "name": "Mudança de nome do arquivo"
    },
    {
      "parameters": {
        "jsCode": "const BIN_FIELD = 'data';\n\n// 1) Pega os 2 campos do node \"Pode criar a tarefa?\"\nconst nomeDaTarefa =\n  $(\"Pode criar a tarefa?\").item.json?.dados?.dados_tarefa?.nome_da_tarefa ?? \"sem_titulo\";\n\nconst prazoIso =\n  $(\"Pode criar a tarefa?\").item.json?.dados?.prazo ?? \"sem_prazo\";\n\n// 2) Converte ISO -> YYYY-MM-DD\nfunction formatPrazo(p) {\n  if (!p || typeof p !== \"string\") return \"sem_prazo\";\n  // Ex.: \"2025-12-31T12:00:00.000Z\" -> \"2025-12-31\"\n  const datePart = p.split(\"T\")[0];\n  return datePart || \"sem_prazo\";\n}\n\nconst prazo = formatPrazo(prazoIso);\n\n// 3) Sanitiza pra virar nome de arquivo seguro (Windows/Bitrix)\nfunction sanitizeFilename(str) {\n  return String(str)\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[\\/\\\\:\\*\\?\"<>\\|\\r\\n]+/g, \"_\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .replace(/\\s/g, \"_\");\n}\n\n// 4) Descobre extensão a partir do mimeType do binário\nfunction inferExt(bin) {\n  const mime = (bin?.mimeType || \"\").toLowerCase();\n  if (mime.includes(\"jpeg\")) return \"jpg\";\n  if (mime.includes(\"png\")) return \"png\";\n  if (mime.includes(\"pdf\")) return \"pdf\";\n\n  const fromFileName = (bin?.fileName || \"\").split(\".\").pop();\n  if (fromFileName && fromFileName.length <= 5) return fromFileName.toLowerCase();\n\n  const fromFileExt = (bin?.fileExtension || \"\");\n  if (fromFileExt) return String(fromFileExt).toLowerCase();\n\n  return \"bin\";\n}\n\n// 5) Nome final: titulo__YYYY-MM-DD.ext\nconst base = `${nomeDaTarefa}__${prazo}`;\nlet safeBase = sanitizeFilename(base);\n\n// opcional: limita tamanho\nif (safeBase.length > 140) safeBase = safeBase.slice(0, 140);\n\nreturn items.map(item => {\n  if (!item.binary || !item.binary[BIN_FIELD]) return item;\n\n  const bin = item.binary[BIN_FIELD];\n  const ext = inferExt(bin);\n\n  bin.fileName = `${safeBase}.${ext}`;\n  bin.fileExtension = ext;\n\n  item.binary[BIN_FIELD] = bin;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        -672
      ],
      "id": "b0b8fc6b-24ef-4323-82da-f39ca3624139",
      "name": "Mudança de nome do arquivo1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mdrepres-n8n.zcnijx.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "1872",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "mdrepres-n8n.zcnijx.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5ede1182b9fe",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "mdrepres",
            "data": {
              "key": {
                "remoteJid": "558494032113@s.whatsapp.net",
                "remoteJidAlt": "211437045678141@lid",
                "fromMe": false,
                "id": "3EB08B779DF16BD8C432B9",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Alex - MD Representacoes Ltda",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 131,
                      "1": 209,
                      "2": 33,
                      "3": 246,
                      "4": 146,
                      "5": 180,
                      "6": 94,
                      "7": 191,
                      "8": 238,
                      "9": 44
                    },
                    "senderTimestamp": {
                      "low": 1767634049,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 16,
                      "1": 132,
                      "2": 21,
                      "3": 244,
                      "4": 65,
                      "5": 26,
                      "6": 8,
                      "7": 114,
                      "8": 213,
                      "9": 60
                    },
                    "recipientTimestamp": {
                      "low": 1766751220,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 183,
                    "1": 94,
                    "2": 172,
                    "3": 212,
                    "4": 107,
                    "5": 153,
                    "6": 170,
                    "7": 54,
                    "8": 71,
                    "9": 84,
                    "10": 7,
                    "11": 95,
                    "12": 220,
                    "13": 93,
                    "14": 59,
                    "15": 30,
                    "16": 188,
                    "17": 87,
                    "18": 7,
                    "19": 185,
                    "20": 109,
                    "21": 235,
                    "22": 0,
                    "23": 4,
                    "24": 225,
                    "25": 163,
                    "26": 192,
                    "27": 64,
                    "28": 150,
                    "29": 230,
                    "30": 56,
                    "31": 86
                  },
                  "limitSharingV2": {
                    "sharingLimited": false,
                    "trigger": 0,
                    "limitSharingSettingTimestamp": {
                      "low": 0,
                      "high": 0,
                      "unsigned": false
                    },
                    "initiatedByMe": false
                  }
                },
                "conversation": "Jose"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "statusAttributions": [],
                "ephemeralSettingTimestamp": {
                  "low": 1767462703,
                  "high": 0,
                  "unsigned": false
                },
                "disappearingMode": {
                  "initiator": 0,
                  "trigger": 1,
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1767635506,
              "instanceId": "2b800946-7943-4761-b082-81c52abc8bf5",
              "source": "web"
            },
            "destination": "https://mdrepres-n8n.zcnijx.easypanel.host/webhook/evolution-mdrepres",
            "date_time": "2026-01-05T14:51:46.980Z",
            "sender": "558496351987@s.whatsapp.net",
            "server_url": "https://mdrepres-evolution-api.zcnijx.easypanel.host",
            "apikey": "1868D58EBE59-4BAA-9A2C-61D36334527A"
          },
          "webhookUrl": "https://mdrepres-n8n.zcnijx.easypanel.host/webhook/evolution-mdrepres",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Organização de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização de dados": {
      "main": [
        [
          {
            "node": "Filtrar por números",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "mensagem texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem aúdio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem imagem": {
      "main": [
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem texto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Descrição final da imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem aúdio": {
      "main": [
        [
          {
            "node": "Obter m dia em base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Transcrição final do aúdio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem pdf": {
      "main": [
        [
          {
            "node": "Obter m dia em base65",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Descrição final do pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar por números": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Foi eu que enviei a msg?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Mensagens dos colaboradores",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Mensagens dos clientes",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Quebra de texto para JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode criar a tarefa?": {
      "main": [
        [
          {
            "node": "Msg resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg resposta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg resposta": {
      "main": [
        [
          {
            "node": "Msg pergunta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg resposta1": {
      "main": [
        [
          {
            "node": "A mensagem contém qual tipo de arquivo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base65": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chave block": {
      "main": [
        [
          {
            "node": "Mensagens dos colaboradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Mensagens dos clientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Mensagem final para o agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem final para o agente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quebra de texto para JSON": {
      "main": [
        [
          {
            "node": "Pode criar a tarefa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi eu que enviei a msg?": {
      "main": [
        [
          {
            "node": "Chave block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descrição final da imagem": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcrição final do aúdio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Descrição final do pdf": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Dados para o bitrix2": {
      "main": [
        [
          {
            "node": "Criação da task2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização dos dados 3": {
      "main": [
        [
          {
            "node": "Dados para o bitrix2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base2": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Transforma a imagem em url do bitrix1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base3": {
      "main": [
        [
          {
            "node": "Convert to File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File5": {
      "main": [
        [
          {
            "node": "Mudança de nome do arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma a imagem em url do bitrix1": {
      "main": [
        [
          {
            "node": "Obter m dia em base3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia a imagem para o drive do bitrix1": {
      "main": [
        [
          {
            "node": "Organização dos dados 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização dos dados 1": {
      "main": [
        [
          {
            "node": "Dados para o bitrix3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados para o bitrix3": {
      "main": [
        [
          {
            "node": "Criação da task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A mensagem contém qual tipo de arquivo?": {
      "main": [
        [
          {
            "node": "Obter m dia em base2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Organização dos dados 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Organização dos dados 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base4": {
      "main": [
        [
          {
            "node": "Convert to File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File6": {
      "main": [
        [
          {
            "node": "Transforma o pdf em url do bitrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base5": {
      "main": [
        [
          {
            "node": "Convert to File7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File7": {
      "main": [
        [
          {
            "node": "Mudança de nome do arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados para o bitrix": {
      "main": [
        [
          {
            "node": "Criação da task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organização dos dados ": {
      "main": [
        [
          {
            "node": "Dados para o bitrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transforma o pdf em url do bitrix": {
      "main": [
        [
          {
            "node": "Obter m dia em base5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia o pdf para o drive do bitrix": {
      "main": [
        [
          {
            "node": "Organização dos dados ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mudança de nome do arquivo": {
      "main": [
        [
          {
            "node": "Envia a imagem para o drive do bitrix1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mudança de nome do arquivo1": {
      "main": [
        [
          {
            "node": "Envia o pdf para o drive do bitrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "47f01231-6ac1-4bea-9fff-9d860ce4148f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f30f2b26e437cf019b6432a1fdc8c53288fd3d876254e60e05ea866c7a298bc"
  },
  "id": "XCMwpgHSPUVYK5Uc",
  "tags": []
}